<f:comment>
  Creates an individual facet using the arguments:
    * facetInfo: with the facet configuration
    * facetData: with the facet entries
    * config: with the extension’s current setup

  Each facet is created by the partial in Facets/Facet with the name of the
  facet’s configured type (deaulting to  »List«).
</f:comment>
<f:if condition="{f:count(subject:facetData.values)} > 0">
  <section class="ctg-facet">

    <f:comment>
      <article class="facet facet-id-{facetInfo.id}{f:if(condition:facetInfo.type, then:' facet-type-{facetInfo.type}')}">
      </article>
    </f:comment>
    <f:if condition="{facetInfo.removeHeadline} != true">
      <f:if condition="{facetInfo.label}">
        <f:then>
          <h3>
            {facetInfo.label}
            <a title="<f:translate key='schließen' extensionName='dla_opac_ng'/>" data-facet-toggle="1">
              <f:if condition="{facetInfo.collapse}">
                <f:then><span class="icon bel-pfeil-u01"></span></f:then>
                <f:else><span class="icon bel-pfeil-o01"></span></f:else>
              </f:if>
            </a>
          </h3>
        </f:then>
        <f:else>
          <h3>
            <f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}" default="{facetInfo.id}"/>
            <a title="<f:translate key='schließen' extensionName='dla_opac_ng'/>" data-facet-toggle="1">
              <f:if condition="{facetInfo.collapse}">
                <f:then><span class="icon bel-pfeil-u01"></span></f:then>
                <f:else><span class="icon bel-pfeil-o01"></span></f:else>
              </f:if>
            </a>
          </h3>
        </f:else>
      </f:if>
    </f:if>
    <f:alias map="{facetType:'{f:if(condition:facetInfo.type, then:facetInfo.type, else:\"List\")}'}">
      <f:render partial="Facets/Facet/{facetType}" arguments="{_all}"/>
    </f:alias>
  </section>
</f:if>




