{namespace s=Subugoe\Find\ViewHelpers}


<f:form name="c{config.uid}-form"
        method="post"
        section="{settings.jumpToID}"
        class="searchForm {f:if(condition:config.extendedSearch, then:'search-extended', else:'search-simple')}"
        pluginName="find"
        pageUid="{settings.indexPageUid}"
        controller="Search">



    <figure class="ctg-header ctg-header-home">
        <section class="ctg-hd-meta">
            <div class="ctg-catalog-title">
                <strong><f:translate key='Kallías' extensionName='dla_opac_ng'/></strong> – <f:translate key='der Online-Katalog des Deutschen Literaturarchivs Marbach' extensionName='dla_opac_ng'/>
            </div>
            <div class="ctg-hd-meta-menu">
                <ul>
                    <li>
                        <a href="#" title="<f:translate key='Merkliste' extensionName='dla_opac_ng'/>"><span class="icon bel-stern02"></span><f:translate key='Merkliste' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Feedback' extensionName='dla_opac_ng'/>"><span class="icon bel-sprache01"></span><f:translate key='Feedback' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Mein Konto' extensionName='dla_opac_ng'/>"><span class="icon bel-nutzer"></span><f:translate key='Mein Konto' extensionName='dla_opac_ng'/></a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="ctg-hd-search">
            <form action="">
                <ul>
                    <li>
                        <a href="#" title="<f:translate key='Gesamtbestand' extensionName='dla_opac_ng'/>" class="ctg-hd-active"><span class="icon bel-mkombo06"></span><f:translate key='Gesamtbestand' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>"><span class="icon bel-mag"></span><f:translate key='Gedrucktes' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Handschriften' extensionName='dla_opac_ng'/>"><span class="icon bel-schreiben"></span><f:translate key='Handschriften' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Namen und Werke' extensionName='dla_opac_ng'/>"><span class="icon bel-idkarte"></span><f:translate key='Namen und Werke' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"><span class="icon bel-foto"></span><f:translate key='Bilder und Objekte' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Audio &amp; Video' extensionName='dla_opac_ng'/>"><span class="icon bel-note"></span><f:translate key='Audio und Video' extensionName='dla_opac_ng'/></a>
                    </li>
                </ul>

                <div class="ctg-hd-search-form">
                    <f:form.textfield
                            id="c{config.uid}-field-{fieldInfo.id}"
                            class="inputType-text"
                            name="q[default]"
                            value=""
                            placeholder="Wonach suchen Sie?"
                    /><button type="submit"><span class="icon bel-lupe"></span><f:translate key='Jetzt suchen' extensionName='dla_opac_ng'/></button>
                </div>
            </form>
        </section>

        <section class="ctg-hd-addon">
            <ul>
                <li>
                    <a href="#" title="<f:translate key='Expertensuche' extensionName='dla_opac_ng'/>"><span class="icon bel-regler01"></span><span class="ctg-hd-addon-term"><f:translate key='Expertensuche' extensionName='dla_opac_ng'/></span></a>
                </li>
                <li>
                    <a href="#" title="<f:translate key='Bestandsübersicht' extensionName='dla_opac_ng'/>"><span class="icon bel-inhalt"></span><span class="ctg-hd-addon-term"><f:translate key='Bestandsübersicht' extensionName='dla_opac_ng'/></span></a>
                </li>
                <li>
                    <a href="#" title="<f:translate key='Suchverlauf' extensionName='dla_opac_ng'/>"><span class="icon bel-zurueck02"></span><span class="ctg-hd-addon-term"><f:translate key='Suchverlauf' extensionName='dla_opac_ng'/></span></a>
                </li>
                <li>
                    <a href="#" title="<f:translate key='Hilfe &amp; Auskunft' extensionName='dla_opac_ng'/>"><span class="icon bel-info"></span><span class="ctg-hd-addon-term"><f:translate key='Hilfe &amp; Auskunft' extensionName='dla_opac_ng'/></span></a>
                </li>
            </ul>
        </section>
    </figure>

</f:form>
