{namespace s=Subugoe\Find\ViewHelpers}
{namespace dla=Dla\DlaOpacNg\ViewHelpers}

<f:form name="c{config.uid}-form"
        method="post"
        section="{settings.jumpToID}"
        class="searchForm {f:if(condition:config.extendedSearch, then:'search-extended', else:'search-simple')}"
        pluginName="find"
        pageUid="{settings.indexPageUid}"
        controller="Search"
        addQueryString="TRUE"
        argumentsToBeExcludedFromQueryString="{1:'id]'}">

    <figure class="ctg-header ctg-header-home">
        <section class="ctg-hd-meta">
            <div class="ctg-catalog-title">
                <f:link.action pageUid="{settings.mainPageUid}">
                    <span class="icon bel-haus"></span>
                    <strong>
                        <f:translate key='Kallías' extensionName='dla_opac_ng'/>
                    </strong>
                    <span class="kallias">
                        – <f:translate key='der Online-Katalog des Deutschen Literaturarchivs Marbach' extensionName='dla_opac_ng'/>
                    </span>
                </f:link.action>
            </div>
            <div class="ctg-hd-meta-menu">
                <ul>
                    <li>
                        <a href="#" title="<f:translate key='Merkliste' extensionName='dla_opac_ng'/>"><span class="icon bel-stern02"></span><f:translate key='Merkliste' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="mailto:opac@dla-marbach.de?subject=Feedback%20zum%20Online-Katalog" title="<f:translate key='Feedback' extensionName='dla_opac_ng'/>"><span class="icon bel-sprache01"></span><f:translate key='Feedback' extensionName='dla_opac_ng'/></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Mein Konto' extensionName='dla_opac_ng'/>"><span class="icon bel-nutzer"></span><f:translate key='Mein Konto' extensionName='dla_opac_ng'/></a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="ctg-hd-search">
            <form action="">
                <ul>
                    <li>
                        <f:alias map="{gedrucktes:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Gedrucktes\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                            <f:link.action
                                id="gesamtbestand"
                                section="{settings.jumpToID}"
                                addQueryString="TRUE"
                                argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                noCacheHash="1"
                                class="{f:if(condition:'{config.activeFacets.Medientypen}',then:'',else:'ctg-hd-active')} gesamt">
                                <span class="icon bel-mkombo06"></span><f:translate key='Gesamtbestand' extensionName='dla_opac_ng'/>
                            </f:link.action>
                        </f:alias>
                    </li>
                    <li>
                        <f:alias map="{gedrucktes:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Gedrucktes\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                            <f:link.action
                                    id="gedrucktes"
                                    additionalParams="{tx_find_find: gedrucktes}"
                                    section="{settings.jumpToID}"
                                    addQueryString="TRUE"
                                    argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                    noCacheHash="1"
                                    class="{f:if(condition:'{config.activeFacets.Medientypen.Gedrucktes}',then:'ctg-hd-active',else:'')} gedrucktes">
                                <span class="icon bel-mag"></span><f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>
                            </f:link.action>
                        </f:alias>
                    </li>
                    <li>
                        <f:alias map="{handschriften:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Handschriften\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                            <f:link.action
                                id="handschriften"
                                additionalParams="{tx_find_find: handschriften}"
                                section="{settings.jumpToID}"
                                addQueryString="TRUE"
                                argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                noCacheHash="1"
                                class="{f:if(condition:'{config.activeFacets.Medientypen.Handschriften}',then:'ctg-hd-active',else:'')} handschriften">
                                <span class="icon bel-schreiben"></span><f:translate key='Handschriften' extensionName='dla_opac_ng'/>
                            </f:link.action>
                        </f:alias>
                    </li>
                    <li>
                        <f:alias map="{picsandobjects:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Bilder und Objekte\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                            <f:link.action
                                id="picsandobjects"
                                additionalParams="{tx_find_find: picsandobjects}"
                                section="{settings.jumpToID}"
                                addQueryString="TRUE"
                                argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                noCacheHash="1"
                                class="{f:if(condition:'{s:data.valueForKey(array:config.activeFacets.Medientypen, key:\"Bilder und Objekte\")}',then:'ctg-hd-active',else:'')} bilder">
                                <span class="icon bel-foto"></span><f:translate key='Bilder und Objekte' extensionName='dla_opac_ng'/>
                            </f:link.action>
                        </f:alias>
                    </li>
                    <li>
                        <f:alias map="{audio:'{s:find.facetLinkArguments(facetID:\"MedientypenHidden\", facetTerm:\"Audio\", mode:\"add\", activeFacets:config.activeFacets)}',
                        video:'{s:find.facetLinkArguments(facetID:\"MedientypenHidden\", facetTerm:\"Video\", mode:\"add\", activeFacets:config.activeFacets)}'}">

                        <dla:arrayMerge array1="{audio}" array2="{video}" as="newArray" />
                        <f:link.action
                                id="audio"
                                additionalParams="{tx_find_find: newArray}"
                                section="{settings.jumpToID}"
                                addQueryString="TRUE"
                                argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                noCacheHash="1"
                                class="{f:if(condition:'{s:data.valueForKey(array:config.activeFacets.Medientypen, key:\"Audio\")}',then:'ctg-hd-active',else:'')} audio">
                        <span class="icon bel-ton"></span><f:translate key='Audio & Video' extensionName='dla_opac_ng'/>
                        </f:link.action>
                        </f:alias>
                    </li>
                    <li>
                        <f:alias map="{werke:'{s:find.facetLinkArguments(facetID:\"DatenbestandHidden\", facetTerm:\"Werke\", mode:\"add\", activeFacets:config.activeFacets)}',
                        person: '{s:find.facetLinkArguments(facetID:\"DatenbestandHidden\", facetTerm:\"Personen\", mode:\"add\", activeFacets:config.activeFacets)}',
                        corporation: '{s:find.facetLinkArguments(facetID:\"DatenbestandHidden\", facetTerm:\"Körperschaften\", mode:\"add\", activeFacets:config.activeFacets)}'}">

                        <dla:arrayMerge array1="{werke}" array2="{person}" array3="{corporation}" as="newArray" />
                        <dla:arrayMerge array1="{newArray}" array2="{sort: 'entity_score desc'}" as="newArray" />
                        <f:link.action
                                id="normdaten"
                                additionalParams="{tx_find_find: newArray}"
                                section="{settings.jumpToID}"
                                addQueryString="TRUE"
                                argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                noCacheHash="1"
                                class="{f:if(condition:'{config.activeFacets.Medientypen.Normdaten}',then:'ctg-hd-active',else:'')} namen">
                            <span class="icon bel-idkarte"></span><f:translate key='Namen und Werke' extensionName='dla_opac_ng'/>
                        </f:link.action>
                        </f:alias>
                    </li>
                </ul>

                <div class="ctg-hd-search-form">
                    <div class="ctg-search-autocomplete">
                        <f:form.textfield
                                id="c{config.uid}-field-{fieldInfo.id}"
                                class="inputType-text"
                                name="q[default]"
                                value=""
                                placeholder="Wonach suchen Sie?"
                        />
                    </div>
                    <div class="ctg-search-autocomplete-button">
                        <button type="submit">
                            <span class="icon bel-lupe"></span>
                            <f:translate key='Jetzt suchen' extensionName='dla_opac_ng'/>
                        </button>
                    </div>
                </div>
            </form>
        </section>

        <script>
            $( document ).ready(function() {
                var url = new URL(window.location.href);

                $('.gesamt').removeClass("ctg-hd-active");

                if (url.searchParams.get("tx_find_find[facet][Medientypen][Gedrucktes]")) {
                    $('.gedrucktes').addClass("ctg-hd-active");
                } else if (url.searchParams.get("tx_find_find[facet][Medientypen][Handschriften]")) {
                    $('.handschriften').addClass("ctg-hd-active");
                } else if (url.searchParams.get("tx_find_find[facet][Medientypen][Bilder und Objekte]")) {
                    $('.bilder').addClass("ctg-hd-active");
                } else if (url.searchParams.get("tx_find_find[facet][MedientypenHidden][Video]")) {
                    $('.audio').addClass("ctg-hd-active");
                } else if (url.searchParams.get("tx_find_find[facet][DatenbestandHidden][Werke]")) {
                    $('.namen').addClass("ctg-hd-active");
                } else {
                    $('.gesamt').addClass("ctg-hd-active");
                }

            });
        </script>

        <section class="ctg-hd-addon">
            <ul>
                <li>
                    <a href="#" title="<f:translate key='Expertensuche' extensionName='dla_opac_ng'/>"><span class="icon bel-regler01"></span><span class="ctg-hd-addon-term"><f:translate key='Expertensuche' extensionName='dla_opac_ng'/></span></a>
                </li>
                <li>
                    <a href="#" title="<f:translate key='Bestandsübersicht' extensionName='dla_opac_ng'/>"><span class="icon bel-inhalt"></span><span class="ctg-hd-addon-term"><f:translate key='Bestandsübersicht' extensionName='dla_opac_ng'/></span></a>
                </li>
                <li>
                    <a href="#" title="<f:translate key='Suchverlauf' extensionName='dla_opac_ng'/>"><span class="icon bel-zurueck02"></span><span class="ctg-hd-addon-term"><f:translate key='Suchverlauf' extensionName='dla_opac_ng'/></span></a>
                </li>
                <li>
                    <a href="#" title="<f:translate key='Hilfe und Auskunft' extensionName='dla_opac_ng'/>"><span class="icon bel-info"></span><span class="ctg-hd-addon-term"><f:translate key='Hilfe und Auskunft' extensionName='dla_opac_ng'/></span></a>
                </li>
            </ul>
        </section>
    </figure>

</f:form>
