<f:layout name="Startseite" />


<f:section name="main">

    <div class="row">
        <div class="small-12">
            <f:format.raw>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3'}" />
            </f:format.raw>
        </div>
    </div>

    <!--TYPO3SEARCH_begin-->
    <div class="row page-content">
        <section class="small-12 column content content-index" role="main">
            <div class="row">
                <div class="small-12 column">
                    <div class="row">
                        <div class="small-6 large-4 column">
                            <f:format.raw>
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
                            </f:format.raw>
                        </div><!--
                     --><div class="small-6 large-4 column">
                            <f:format.raw>
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                            </f:format.raw>
                        </div><!--
                     --><div class="small-6 large-4 column">
                            <f:format.raw>
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
                            </f:format.raw>
                        </div><!--</div><div class="row">
                     --><div class="small-6 large-4 column">
                            <f:format.raw>
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />
                            </f:format.raw>
                        </div><!--
                     --><div class="small-6 large-4 column">
                            <f:format.raw>
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />
                            </f:format.raw>
                        </div><!--
                     --><div class="small-6 large-4 column">
                            <f:format.raw>
                                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '6'}" />
                            </f:format.raw>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!--TYPO3SEARCH_end-->

    <div class="row">
        <div class="small-12">
            <f:format.raw>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '7'}" />
            </f:format.raw>
        </div>
    </div>

    <div class="row ctg-footer">
        <div class="small-6 column">
            <f:format.raw>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '8'}" />
            </f:format.raw>
        </div>
        <div class="small-6 column">
            <f:format.raw>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '9'}" />
            </f:format.raw>
        </div>
    </div>

    <div class="row ctg-footer-notice">
        <div class="small-6 column">
            <f:format.raw>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '10'}" />
            </f:format.raw>
        </div>
        <div class="small-6 column">
            <f:format.raw>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '11'}" />
            </f:format.raw>
        </div>
    </div>

</f:section>
