{namespace dla=Dla\DlaOpacNg\ViewHelpers}

<style>
    body {margin: 1rem; padding: 0; color: #222; font-family: "akzidenz-grotesk", Helvetica, Roboto, Arial, sans-serif;}
    #tectonictree {font-size: 20px !important;}
    ul.bt-listview {list-style-type: none; margin: 0; padding: 0;}
    ul.bt-listview ul {list-style-type: none; padding: 0; margin: 0;}
    .bt-listview article {transition: all 0.3s linear; border-bottom: 1px solid #dadada;}
    .bt-listview article:hover {background: #f5f5f5;}
    ul.bt-listview ul {list-style-type: none; padding: 0 0 0 1rem;}
    .bt-listview h3 {display: inline; vertical-align: middle;}
    .bt-infohelp {display: inline; vertical-align: middle; padding-left: 0.25rem;}
    .bt-content {display: inline-block; width: 70%; vertical-align: middle; padding: 0.25rem 0;}
    .bt-actions {display: inline-block; width: 30%; vertical-align: top; text-align: right; padding: 0.25rem 0;}
    .icon {display: inline-block; width: auto; height: auto; font-size: 2rem; vertical-align: middle;}
    .bt-listview a {color: #222; text-decoration: none;}
    .bt-listview a:hover {color: #b61f24; text-decoration: none;}
    a.bt-active {color: #b61f24;}
    .bt-folder {position: relative;}
    .bt-folder strong {position: absolute; top: 1px; left: 36%; font-size: 1rem; color: #FFF;}
    span.bt-folder .icon {color: #dadada;}
    #tectonictree div.tectonic-information {display: none;}
</style>


<label>Suche</label>
<input id="tectonic-search" type="text">

<ul id="tectonictree" class="bt-listview">

</ul>

<script type="text/javascript">
    $( document ).ready(function() {
        getChildNodes(0);
        registerOnClick();
        registerSearchForm();
    });

    function registerSearchForm() {
        $("#tectonic-search").on("keyup", function (event) {
            if ($(this).val() == '') {
                resetTreeNodes();
                getChildNodes(0);
            } else {
                searchNodes($(this).val());
            }
        })
    }

    function searchNodes(searchTerm) {
        var url = '/index.php?eID=tectonic&type=classification&action=searchNodes&search=' + searchTerm;

        $.ajax({
            url: url,
            dataType: "json"
        })
            .done(function(data) {
                resetTreeNodes();
                $('#tectonictree').append(jsonToHtml(data));
            });
    }

    function resetTreeNodes() {
        $("#tectonictree").html("");
    }

    var constants = function() {
        this.liElements = '';
    };

    function registerOnClick() {
        // click event for loaded content
        $(document).on("click", '.childElement.children', function(event) {
            event.preventDefault();
            var liElement = $(this).parent().parent().parent();
            var id = liElement.attr('id');
            var html = jsonToHtml(getChildNodes(id));
            liElement.append(html);
        });

        $('#tectonictree a.bt-info').on("click", function(event) {
            event.preventDefault();
            $(this).parent().next(".tectonic-information").toggle();
        });

        $(document).on("click", '.bt-info', function(event) {
            event.preventDefault();
            $(this).parent().next(".tectonic-information").toggle();
        });
    }

    function getChildNodes(id) {

        if (!id) {
            id = 0;
        }
        var url = '/index.php?eID=tectonic&type=classification&action=getNodes&id=' + id;

        var jqxhr = $.ajax({
            url: url,
            dataType: "json"
        })
            .done(function(data) {
                if (id == 0) {
                    $('#tectonictree').append(jsonToHtml(data));
                } else {
                    $('#'+id).append(jsonToHtml(data));
                }
            });
    }

    function getLiElement(index, item) {
        if (item.hasChild == 1) {
            var addClass = 'children';
        } else if (item.hasChild == 0) {
            var addClass = '';
        }
        if (Number.isInteger(Number(item.record_id))) {
            var linkAndActions = '';
        } else {
            var linkAndActions = '<span class="bt-actions"><a href="#" class="bt-info"><span class="icon bel-info"></span></a>' +
                '<a href="/index.php?id=2&tx_find_find%5Bid%5D=' + item.record_id + '" class="bt-search" target="_blank"><span class="icon bel-lupe"></span></a>' +
                '</span>' +
                '<div class="tectonic-information">';
            if (item.listview_type) {
                linkAndActions += item.listview_type + '<br/>';
            }
            if (item.listview_associate) {
                linkAndActions += item.listview_associate + '<br/>';
            }
            if (item.listview_additional1) {
                linkAndActions += item.listview_additional1 + '<br/>';
            }
            if (item.listview_additional2) {
                linkAndActions += item.listview_additional2 + '<br/>';
            }
            linkAndActions += '</div>';

        }

        constants.liElements += '<li id="' + item.uid + '">' +
            '<article>' +
            '<span class="bt-content">' +
            '<a class="childElement bt-folder ' + addClass + '" href="#">' +
            '<span class="icon bel-ordner">' +
            '<strong>+</strong>' +
            '</span>' +
            '</a>' +
            '<h3>' + item.listview_title + '</h3>' +
            '</span>' +
            linkAndActions +
            '</article>' +
            '</li>';

    }

    function jsonToHtml(json) {
        var obj = json;
        constants.liElements = '';

        var htmlListElement = '<ul>';

        jQuery.each(obj, getLiElement);

        htmlListElement += constants.liElements;

        htmlListElement += '</ul>';

        return htmlListElement;

    }

</script>