{namespace s=Subugoe\Find\ViewHelpers}

<f:layout name="Default"/>

<f:comment>
    Template for a basic Detail view of all fields in the document.

    Sets up the page with its title, CSS, JavaScript, the search form and pager,
    uses the field configured as a heading and creates
    a definition list of all field contents.

    This can be a good starting point for refining the detail view for your
    data model.
</f:comment>

<f:section name="main">
    <s:page.title>{document.fields.id} – {config.pageTitle}</s:page.title>
    <f:render partial="Page/Standard" arguments="{_all}" />
    <f:render partial="Components/DetailResultPager" arguments="{_all}" />

    <!--TYPO3SEARCH_begin-->

    <article class="detail">
        <h1>
            <f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:settings.standardFields.title, separator:', '}" />
        </h1>

        <f:if condition="{arguments.debug}">
            <f:then>
                <dl>
                    <f:for each="{document.fields}" as="value" key="fieldName">
                        <f:render partial="Display/DLField" arguments="{results:results, document:document, field:fieldName}" />
                    </f:for>
                </dl>
            </f:then>
            <f:else>
                <div class="row ctg-follow-content">

                    <f:if condition="{results.documents.0.fields.listview_type.0} == 'Normdaten'">
                        <f:then>
                            <section class="small-9 column ctg-content-column ctg-detailview ctg-detail-normdata">
                                <v:variable.set value="{s:data.valueForKey(array:document.fields, key:'facet_source')}" name="facet_source" />
                                <f:switch expression="{facet_source}">
                                    <f:case value="Personen">
                                        <f:render partial="Display/Detail/Normdata/Person" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:case value="Werke">
                                        <f:render partial="Display/Detail/Normdata/Werk" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:case value="Körperschaften">
                                        <f:render partial="Display/Detail/Normdata/Corporation" arguments="{results:results, document:document}" />
                                    </f:case>
                                </f:switch>
                            </section>
                        </f:then>
                        <f:else>
                            <section class="small-9 column ctg-content-column ctg-detailview">
                                <f:switch expression="{document.fields.source}">
                                    <f:case value="BI">
                                        <f:render partial="Display/Detail/ImagesAndObjects/Details" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:case value="AK">
                                        <f:render partial="Display/Detail/Library/Details" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:case value="BF">
                                        <f:render partial="Display/Detail/Inventory/Details" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:case value="HS">
                                        <f:render partial="Display/Detail/Manuscripts/Details" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:defaultCase>
                                        <f:for each="{document.fields}" as="value" key="fieldName">
                                            <f:render partial="Display/DLField" arguments="{results:results, document:document, field:fieldName}" />
                                        </f:for>
                                    </f:defaultCase>
                                </f:switch>
                            </section>
                        </f:else>
                    </f:if>

                    <aside class="small-3 column ctg-facet-colum">
                        <f:if condition="{results.documents.0.fields.listview_type.0} == 'Normdaten'">
                            <f:then>
                                <f:render partial="Display/Detail/Normdata/PersonRightColumn" arguments="{results:results, document:document}" />
                            </f:then>
                            <f:else>
                                <f:switch expression="{document.fields.source}">
                                    <f:case value="BI">
                                        <f:render partial="Display/Detail/ImagesAndObjects/RightColumn" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:case value="AK">
                                        <f:render partial="Display/Detail/Library/RightColumn" arguments="{results:results, document:document}" />
                                    </f:case>
                                    <f:defaultCase>
                                        <section class="ctg-facet">
                                            <h3><a title="<f:translate key='schließen' extensionName='dla_opac_ng'/>"><span class="icon bel-pfeil-o01"></span></a>
                                                <f:translate key='Aus demselben Nachlass' extensionName='dla_opac_ng'/> (?)
                                            </h3>
                                            <ul>
                                                <li><a title=""><span class="icon bel-foto"></span></a><a title="">Lorem lorem lorem</a></li>
                                                <li><a title=""><span class="icon bel-schreiben"></span></a><a title="">Lorem lorem lorem</a></li>
                                                <li><a title=""><span class="icon bel-schreiben"></span></a><a title="">Lorem lorem lorem</a></li>
                                                <li><a title=""><span class="icon bel-pfeil-u02"></span></a><a title="">weitere 35</a></li>
                                            </ul>
                                        </section>

                                        <section class="ctg-facet">
                                            <h3><a title="<f:translate key='schließen' extensionName='dla_opac_ng'/>"><span class="icon bel-pfeil-o01"></span></a>
                                                <f:translate key='Aus der selben Sammlung' extensionName='dla_opac_ng'/> (?)
                                            </h3>
                                        </section>

                                        <section class="ctg-facet">
                                            <h3><a title="<f:translate key='schließen' extensionName='dla_opac_ng'/>"><span class="icon bel-pfeil-o01"></span></a>
                                                <f:translate key='Aus demselben Archiv' extensionName='dla_opac_ng'/> (?)
                                            </h3>
                                        </section>
                                    </f:defaultCase>
                                </f:switch>
                            </f:else>
                        </f:if>
                    </aside>
                </div>
            </f:else>
        </f:if>
    </article>
    <!--TYPO3SEARCH_end-->
    <script>
        $('em.highlight').each(function() {
            var html = $('.ctg-detailview').html();
            var re = new RegExp($(this).text()+'+(?![^<]*>)', 'gm');
            html = html.replace(re, '<em class="highlight">' + $(this).text() + '</em>');
            $('.ctg-detailview').html(html);
        });
    </script>
</f:section>