{namespace s=Subugoe\Find\ViewHelpers}
<f:layout name="Default"/>
<f:comment>
  Template for a the search results view.

  Sets up the page with its title, the search form, pager and result count
  information. Then displays the configured facets and a result list using the
  fields configured as standardFields.title and standardFields.snippet.
  Results are linked to the respective documents’ detail pages.

  This result display is sufficient for basic result lists.
</f:comment>
<f:section name="main">
  <s:page.title>
    <f:render partial="Components/QueryString" arguments="{query:arguments.q, facets:config.activeFacets}"/>
    –
    {config.pageTitle}
  </s:page.title>

  <f:render partial="Page/Standard" arguments="{_all}"/>


    <div class="row ctg-info-actions">
      <div class="small-6 column">
        <div class="ctg-info-text">
          <f:render partial="Components/ResultCount" arguments="{_all}"/>
        </div>
      </div>
      <div class="small-6 column ctg-ia-scnd">
        <a class="ctg-button" title="versenden"><span class="icon bel-brief01"></span></a>
        <a class="ctg-button" title="teilen"><span class="icon bel-link01"></span></a>
        <a class="ctg-button" title="exportieren"><span class="icon bel-postin"></span></a>
      </div>
    </div>

  <!--TYPO3SEARCH_begin-->
  <div class="row ctg-follow-content">
    <section class="small-9 column ctg-content-column">
      <div class="ctg-pager-actions">
        <f:render partial="Pager/ListPager" arguments="{_all}"/>

        <f:if condition="{f:count(subject:config.sortOptions.menu)} > 1">
          <div class="ctg-pager-aside">
            <f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.sort"/>
            <f:form.select additionalAttributes='{data-id:"c{config.uid}-sortSelect",data-sort:"1"}' name="sort" options="{config.sortOptions.menu}" value="{config.sortOptions.selected}"/>
          </div>

          <f:for each="{config.sortOptions.menu}" as="sortOption" key="key" iteration="iterator">
            <span
              id="sortUri{iterator.index}"
              style="display:none;"
              uri='<f:uri.action
              addQueryString="TRUE"
              arguments="{sort:'{key}'}"
            argumentsToBeExcludedFromQueryString="{0:'{config.prefixID}[page]'}"
            section="{settings.jumpToID}"
            noCacheHash="1">
            </f:uri.action>'></span>
          </f:for>
        </f:if>
      </div>

      <!-- begin results -->

        <ol id="c{config.uid}-resultList" class="ctg-result-list" start="{config.counterStart}">
          <f:for each="{results.documents}" as="document">
            <f:render partial="Display/Result" arguments="{_all}"/>
          </f:for>

        </ol>



      <!-- end results -->

      <div class="ctg-pager-actions">
        <f:render partial="Pager/ListPager" arguments="{_all}"/>
        <f:comment>
          <f:if condition="{f:count(subject:config.resultCountOptions.menu)} > 1">
            <div class="ctg-pager-aside">
              <f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.count"/>
              <f:form.select id="c{config.uid}-resultCountSelect" name="count" options="{config.resultCountOptions.menu}" value="{config.resultCountOptions.selected}"/>
            </div>
          </f:if>
        </f:comment>
        <div class="ctg-pager-aside">
          <f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.count"/>
          <f:form.select id="c{config.uid}-resultCountSelect" name="count" options="{config.resultCountOptions.menu}" value="{config.resultCountOptions.selected}"/>
        </div>
      </div>
    </section>

    <aside class="small-3 column ctg-facet-colum">

      <f:render partial="Facets/Facets" arguments="{_all}"/>

      <section class="ctg-facet-prestige">
        <h3>Sie haben das Gesuchte nicht gefunden?</h3>
        <p>Sprechen Sie uns an: Aenean massa. Cum sociis natoque penati montes, nascetur ridiculus mus donec quam.</p>
      </section>

      <section class="ctg-facet-prestige">
        <h3>Kontakt</h3>
        <p><strong>Auskunftsdienst Archiv</strong><br>
          Telefon <a href="tel:+497144848425">+49 (0) 7144 / 848-425</a><br>
          <a href="mailto:auskhss@dla-marbach.de">auskhss@dla-marbach.de</a><br>
          Montag - Freitag, 8:30h bis 18:00h</p>

        <p><strong>Auskunftsdienst Bibliothek</strong><br>
          Telefon <a href="tel:+497144848318">+49 (0) 7144 / 848-318</a><br>
          <a href="bibliothek@dla-marbach.de">bibliothek@dla-marbach.de</a><br>
          Montag - Freitag, 8:30h bis 17:30h</p>
      </section>

      <section class="ctg-facet-other">
        <h3>Andere Fundorte (?)<a title="schließen"><span class="icon bel-pfeil-o01"></span></a></h3>
        <ul>
          <li><a title=""><span class="icon bel-link03"></span></a><a title="">Wikipedia "Friedrich Stiller" (?)</a></li>
          <li><a title=""><span class="icon bel-link03"></span></a><a title="">Wikipedia "Stiller" (?)</a></li>
          <li><a title=""><span class="icon bel-link03"></span></a><a title="">Webarchive "Stiller, Friedrich" (?)</a></li>
        </ul>
      </section>
    </aside>
  </div>
  <!--TYPO3SEARCH_end-->

</f:section>
