{namespace dla=Dla\DlaOpacNg\ViewHelpers}

<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'digitalObject_accessLevel_mv')}" name="digitalObject_accessLevel_mv" />
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'digitalObject_display_mv')}" name="digitalObject_display_mv" />
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'digitalObject_hyperlink_mv')}" name="digitalObject_hyperlink_mv" />
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'digitalObject_fileExtension_mv')}" name="digitalObject_fileExtension_mv" />

<dla:mediaPlayer
    urls="{digitalObject_hyperlink_mv}"
    display="{digitalObject_display_mv}"
    ext="{digitalObject_fileExtension_mv}"
    access="{digitalObject_accessLevel_mv}"
    as="mediaData"
/>

<f:for each="{mediaData.links}" as="item" iteration="iterator">
    <v:variable.set value="" name="fileExt" />
    <f:if condition="{item.ext} && {item.ext} != '␣'">
        <v:variable.set value="({item.ext})" name="fileExt" />
    </f:if>
    <v:variable.set value="Link zum digitalen Objekt" name="linkText" />
    <f:if condition="{item.display} && {item.display} != '␣'">
        <v:variable.set value="{item.display}" name="linkText" />
    </f:if>
    <f:if condition="{item.forbidden} != 1">
        <f:then>
            <a href="{item.url}" target="_blank">{linkText} {fileExt}</a><br />
        </f:then>
        <f:else>
            <f:if condition="{item.access} == 'campus'">
                <f:then>
                    <v:variable.set value="{campusLinks}<span class='access-denied-link'>{linkText} {fileExt}</span><br />" name="campusLinks" />
                    <v:variable.set value="1" name="campusSet" />
                </f:then>
                <f:else if="{item.access} == 'sandbox'">
                    <v:variable.set value="{sandboxLinks}<span class='access-denied-link'>{linkText} {fileExt}</span><br />" name="sandboxLinks" />
                    <v:variable.set value="1" name="sandboxSet" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:for>
<f:if condition="{campusSet}">
    <f:then>
        <div style="border: 1px solid;padding: 10px;background-color: #fcff58;">
            <f:format.raw>{campusLinks}</f:format.raw>
            <div class="forbidden-access">
                <f:translate key="mediaplayer.access_file_forbidden" extensionName='dla_opac_ng'/>
                <f:render partial="MediaAccess/MailSwitch" arguments="{_all}"/>
            </div>
        </div>
    </f:then>
</f:if>
<f:if condition="{sandboxSet}">
    <f:then>
        <div style="border: 1px solid;padding: 10px;background-color: #fcff58;">
            <f:format.raw>{sandboxLinks}</f:format.raw>
            <div class="forbidden-access">
                <f:translate key="mediaplayer.access_file_forbidden_sandbox" extensionName='dla_opac_ng'/>
                <f:render partial="MediaAccess/MailSwitch" arguments="{_all}"/>
            </div>
        </div>
    </f:then>
</f:if>