{namespace dla=Dla\DlaOpacNg\ViewHelpers}
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'media_url')}" name="media_url" />
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'media_ext')}" name="media_ext" />
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'media_thumbnail')}" name="media_thumbnail" />
<v:variable.set value="{s:data.valueForKey(array:document.fields, key:'media_access')}" name="media_access" />

<dla:mediaPlayer urls="{media_url}" ext="{media_ext}" access="{media_access}" as="mediaData"/>
<f:for each="{mediaData.links}" as="item" iteration="iterator">
    <f:if condition="{item.forbidden} != 1">
        <f:then>
            <a href="{item.url}">{item.url} ({item.ext})</a><br />
        </f:then>
        <f:else>
            <div style="border: 1px solid;padding: 10px;background-color: #fcff58;">
                <f:translate key="mediaplayer.access_file_forbidden" extensionName='dla_opac_ng'/> {item.url} ({item.ext})
            </div>
        </f:else>
    </f:if>

</f:for>