{namespace s=Subugoe\Find\ViewHelpers}
{namespace dla=Dla\DlaOpacNg\ViewHelpers}
<f:comment>
    The main search form, automatically built from the configuration in the
    queryFields setting.

    Uses the the partials in the Form/Fields folder to create each individual
    field type. Also creates the submit button, extended search link and
    possibly the UI to control the sort order and number of results per page.

    Adds an error message to the page if an error occured.
</f:comment>
<f:render partial="Form/QueryError.html" arguments="{_all}"/>


<div class="row">
    <div class="small-12">

        <figure class="ctg-header ctg-header-follow">
            <section class="ctg-hd-meta">
                <div class="ctg-catalog-title">
                    <strong><f:translate key='Kallías' extensionName='dla_opac_ng'/></strong> – <f:translate key='der Online-Katalog des Deutschen Literaturarchivs Marbach' extensionName='dla_opac_ng'/>
                </div>
                <div class="ctg-hd-meta-menu">
                    <ul>
                        <li>
                            <a href="#" title="<f:translate key='Merkliste' extensionName='dla_opac_ng'/>"><span class="icon bel-stern01"></span><f:translate key='Merkliste' extensionName='dla_opac_ng'/> (3)</a>
                        </li>
                        <li>
                            <a href="#" title="<f:translate key='Feedback' extensionName='dla_opac_ng'/>"><span class="icon bel-sprache01"></span><f:translate key='Feedback' extensionName='dla_opac_ng'/></a>
                        </li>
                        <li>
                            <a href="#" title="<f:translate key='Mein Konto' extensionName='dla_opac_ng'/>"><span class="icon bel-nutzer"></span><f:translate key='Mein Konto' extensionName='dla_opac_ng'/></a>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="ctg-hd-search">
                <f:form name="c{config.uid}-form"
                        method="post"
                        section="{settings.jumpToID}"
                        class="searchForm {f:if(condition:config.extendedSearch, then:'search-extended', else:'search-simple')}">

                    <f:for each="{arguments.facet.Medientypen}" as="mediatype" key="itemkey">
                        <f:form.hidden name="facet[Medientypen][{itemkey}]" value="1"/>
                    </f:for>

                    <f:for each="{formFacets}" as="facet" key="facetID">
                        <f:for each="{facet}" as="unused" key="facetValue">
                            <f:form.hidden name="facet[{facetID}][{facetValue}]" value="1"/>
                        </f:for>
                    </f:for>

                    <ul>
                        <li>
                            <f:alias map="{gedrucktes:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Gedrucktes\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                                <f:link.action
                                    id="gesamtbestand"
                                    pageUid="{settings.indexPageUid}"
                                    section="{settings.jumpToID}"
                                    addQueryString="TRUE"
                                    argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                    noCacheHash="1"
                                    class="{f:if(condition:'{f:count(subject: config.activeFacets.Medientypen)}>0 OR
                                        {f:count(subject: config.activeFacets.MedientypenHidden)}>0 OR
                                         {f:count(subject: config.activeFacets.DatenbestandHidden)}>0',then:'',else:'ctg-hd-active')}">
                                    <span class="icon bel-mkombo06"></span><f:translate key='Gesamtbestand' extensionName='dla_opac_ng'/>
                                </f:link.action>
                            </f:alias>
                        </li>
                        <li>
                            <f:alias map="{gedrucktes:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Gedrucktes\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                                <f:link.action
                                        id="gedrucktes"
                                        arguments="{gedrucktes}"
                                        section="{settings.jumpToID}"
                                        addQueryString="TRUE"
                                        argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                        noCacheHash="1"
                                        class="{f:if(condition:'{config.activeFacets.Medientypen.Gedrucktes}',then:'ctg-hd-active',else:'')}">
                                    <span class="icon bel-mag"></span><f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>
                                </f:link.action>
                            </f:alias>
                        </li>
                        <li>
                            <f:alias map="{handschriften:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Handschriften\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                            <f:link.action
                                    id="handschriften"
                                    arguments="{handschriften}"
                                    section="{settings.jumpToID}"
                                    addQueryString="TRUE"
                                    argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                    noCacheHash="1"
                                    class="{f:if(condition:'{config.activeFacets.Medientypen.Handschriften}',then:'ctg-hd-active',else:'')}">
                                <span class="icon bel-schreiben"></span><f:translate key='Handschriften' extensionName='dla_opac_ng'/>
                            </f:link.action>
                            </f:alias>
                        </li>
                        <li>
                            <f:alias map="{picsandobjects:'{s:find.facetLinkArguments(facetID:\"Medientypen\", facetTerm:\"Bilder und Objekte\", mode:\"add\", activeFacets:config.activeFacets)}'}">
                                <f:link.action
                                    id="picsandobjects"
                                    arguments="{picsandobjects}"
                                    section="{settings.jumpToID}"
                                    addQueryString="TRUE"
                                    argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                    noCacheHash="1"
                                    class="{f:if(condition:'{s:data.valueForKey(array:config.activeFacets.Medientypen, key:\"Bilder und Objekte\")}',then:'ctg-hd-active',else:'')}">
                                    <span class="icon bel-foto"></span><f:translate key='Bilder und Objekte' extensionName='dla_opac_ng'/>
                                </f:link.action>
                            </f:alias>
                        </li>
                        <li>
                            <f:alias map="{audio:'{s:find.facetLinkArguments(facetID:\"MedientypenHidden\", facetTerm:\"Audio\", mode:\"add\", activeFacets:config.activeFacets)}',
                                        video:'{s:find.facetLinkArguments(facetID:\"MedientypenHidden\", facetTerm:\"Video\", mode:\"add\", activeFacets:config.activeFacets)}'}">

                                <f:link.action
                                    id="audio"
                                    arguments="{audio}"
                                    additionalParams="{tx_find_find: video}"
                                    section="{settings.jumpToID}"
                                    addQueryString="TRUE"
                                    argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                    noCacheHash="1"
                                    class="{f:if(condition:'{s:data.valueForKey(array:config.activeFacets.MedientypenHidden, key:\"Audio\")}',then:'ctg-hd-active',else:'')}">
                                    <span class="icon bel-ton"></span><f:translate key='Audio & Video' extensionName='dla_opac_ng'/>
                                </f:link.action>
                            </f:alias>
                        </li>
                        <li>
                            <f:alias map="{werke:'{s:find.facetLinkArguments(facetID:\"DatenbestandHidden\", facetTerm:\"Werke\", mode:\"add\", activeFacets:config.activeFacets)}',
                            person: '{s:find.facetLinkArguments(facetID:\"DatenbestandHidden\", facetTerm:\"Personen\", mode:\"add\", activeFacets:config.activeFacets)}',
                            corporation: '{s:find.facetLinkArguments(facetID:\"DatenbestandHidden\", facetTerm:\"Körperschaften\", mode:\"add\", activeFacets:config.activeFacets)}'}">

                            <dla:arrayMerge array1="{werke}" array2="{person}" array3="{corporation}" as="newArray" />
                            <f:link.action
                                    id="normdaten"
                                    pageUid="{settings.indexPageUid}"
                                    additionalParams="{tx_find_find: newArray}"
                                    section="{settings.jumpToID}"
                                    addQueryString="TRUE"
                                    argumentsToBeExcludedFromQueryString="{1:'tx_find_find[facet]'}"
                                    noCacheHash="1"
                                    class="{f:if(condition:'{config.activeFacets.DatenbestandHidden}',then:'ctg-hd-active',else:'')}">
                                <span class="icon bel-idkarte"></span><f:translate key='Namen und Werke' extensionName='dla_opac_ng'/>
                            </f:link.action>
                            </f:alias>
                        </li>
                    </ul>

                    <div class="ctg-hd-search-form">

                        <f:comment>
                            TODO: the planned functioning of the extended search must be clarified

                            <f:for each="{settings.queryFields}" as="fieldInfo">
                                <f:if condition="{fieldInfo.type}">
                                    <f:then>
                                        <f:if condition="{s:logic.or(conditions:'{
                0:\"{s:logic.not(condition:fieldInfo.hidden)}\",
                                        1:\"{s:data.valueForKey(array:arguments.q, key:fieldInfo.id)}\"
                                        }')}">
                                        <div class="fieldContainer fieldType-{fieldInfo.type} field-{fieldInfo.id} field-mode-{f:if(condition:'{fieldInfo.extended}', then:'extended', else:'simple')}">
                                            <f:alias map="{queryParameter:'{s:data.valueForKey(array:config.query, key:fieldInfo.id)}'}">
                                                <f:render partial="Form/Fields/{fieldInfo.type}" arguments="{_all}"/>
                                            </f:alias>
                                        </div>
                                </f:if>
                                </f:then>
                                <f:else>
                                    <div class="fieldContainer error">
                                        <f:translate key="Missing type in configuration for queryField %s." arguments="{0:fieldInfo.id}"/>
                                    </div>
                                </f:else>
                                </f:if>
                            </f:for>
                        </f:comment>

                        <f:alias map="{queryParameter:'{s:data.valueForKey(array:config.query, key:settings.queryFields.0.id)}'}">
                            <f:form.textfield
                                    id="c{config.uid}-field-{settings.queryFields.0.id}"
                                    class="inputType-text"
                                    name="q[{settings.queryFields.0.id}]{f:if(
        condition:hasAlternate,
        then:'[term]'
      )}"
                                    value="{f:if(
        condition:hasAlternate,
        then:queryParameter.term,
        else:queryParameter
      )}"
                                    placeholder="{f:translate(key:'LLL:{settings.languageRootPath}locallang-form.xml:input.{settings.queryFields.0.id}.placeholder')}"
                                    additionalAttributes="<f:if condition='{settings.queryFields.0.autocomplete}==1'><f:then>{autocompleteURL:\"{f:uri.action(
                                    arguments:{dictionary:fieldInfo.autocompleteDictionary, q:'%%%%'},
                            action:'suggest',
                            pageType:'1369315139',
                            format:'data',
                            noCacheHash:'1'
                            )}\"}</f:then><f:else>{a:1}</f:else></f:if>"
                            /></f:alias><button type="submit"><span class="icon bel-lupe"></span><f:translate key='Jetzt suchen' extensionName='dla_opac_ng'/></button>
                    </div>
                </f:form>
            </section>

            <section class="ctg-hd-addon">
                <ul>
                    <li>

                        <f:comment>
                            TODO: the planned functioning of the extended search must be clarified
                            <f:groupedFor each="{settings.queryFields}" as="fieldsByType" groupBy="extended" groupKey="extended">
                                <f:if condition="{0:extended} == {0:1}">
                                    <f:if condition="{config.extendedSearch}">
                                        <f:then>
                                            <f:link.action
                                                    addQueryString="TRUE"
                                                    argumentsToBeExcludedFromQueryString="{0:'{config.prefixID}[extendedSearch]'}"
                                                    class="extendedSearch internal"
                                                    additionalAttributes="{
                    simpleString:'{f:translate(key:\"extended Search\")}',
                                            extendedString:'{f:translate(key:\"basic Search\")}'
                                            }">
                                            <f:translate key="basic Search"/>
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                            <f:link.action
                                                    addQueryString="TRUE"
                                                    arguments="{extendedSearch: 1}"
                                                    class="extendedSearch internal"
                                                    additionalAttributes="{
                    simplestring:'{f:translate(key:\"extended Search\")}',
                                            extendedstring:'{f:translate(key:\"basic Search\")}'
                                            }">
                                            <f:translate key="extended Search"/>
                                            </f:link.action>
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </f:groupedFor>
                        </f:comment>



                        <a href="#" title="<f:translate key='Expertensuche' extensionName='dla_opac_ng'/>"><span class="icon bel-regler01"></span><span class="ctg-hd-addon-term"><f:translate key='Expertensuche' extensionName='dla_opac_ng'/></span></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Bestandsübersicht' extensionName='dla_opac_ng'/>"><span class="icon bel-inhalt"></span><span class="ctg-hd-addon-term"><f:translate key='Bestandsübersicht' extensionName='dla_opac_ng'/></span></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Suchverlauf' extensionName='dla_opac_ng'/>"><span class="icon bel-zurueck02"></span><span class="ctg-hd-addon-term"><f:translate key='Suchverlauf' extensionName='dla_opac_ng'/></span></a>
                    </li>
                    <li>
                        <a href="#" title="<f:translate key='Hilfe und Auskunft' extensionName='dla_opac_ng'/>"><span class="icon bel-info"></span><span class="ctg-hd-addon-term"><f:translate key='Hilfe und Auskunft' extensionName='dla_opac_ng'/></span></a>
                    </li>
                </ul>
            </section>
        </figure>

    </div>
</div>