{namespace s=Subugoe\Find\ViewHelpers}
{namespace v=FluidTYPO3\vhs\ViewHelpers}
{namespace slub=Slub\SlubFindExtend\ViewHelpers}
{namespace dla=Dla\DlaOpacNg\ViewHelpers}
<f:comment>
    This partial renders the actual field content. It is invoked from the
    Display/Field/General partial and uses the variables passed from there.
    Features include building the appropriate query links for linked result terms
    and invoking search term highlighting.
</f:comment>
<f:if condition="{linkFieldContent}">
    <f:then>
        <f:if condition="{s:data.valueForKey(array:settings.displayFieldForDataField, key:field)}">
            <f:then>
                <f:for each="{v:iterator.explode(content:'{s:data.valueForKey(array:settings.queryFieldForDataField, key:field)}', glue:',')}" as="queryField">
                    <p style="color:lightgrey;">
                        <f:comment>
                            <s:data.newArray
                                    name="queryArray"
                                    global="1"
                                    keys="{0:'raw'}"
                                    values="{0:'{queryField}:{value}'}"
                            />
                            <f:link.action action="index" arguments="{q:queryArray}" class="internal">
                                Suche in {queryField} nach {value}
                            </f:link.action>
                        </f:comment>
                    </p>
                    <ol>
                        <dla:fromSolr
                                query="{queryField}:(\"{value}\")"
                                fields="id,{s:data.valueForKey(array:settings.displayFieldForDataField, key:field)}"
                                rows="10" />
                        <f:if condition="{solr}">
                            <f:then>
                                <li>{displayField}
                                    <ul>
                                        <f:for each="{v:iterator.explode(content:'{s:data.valueForKey(array:settings.displayFieldForDataField, key:field)}', glue:',')}" as="displayField">
                                            <li>
                                                <f:switch expression="{field}">
                                                    <!-- special handling of field SYNKEY -->
                                                    <f:case value="SYNKEY">
                                                        <s:data.newArray
                                                                name="SYNKEYquery"
                                                                global="1"
                                                                keys="{0:'raw'}"
                                                                values="{0:'{field}:{value}'}"
                                                        />

                                                        <f:link.action action="index" arguments="{q:SYNKEYquery}" class="internal">
                                                            <span style="color:lightgrey;">Suche nach {displayField}: </span>
                                                            <f:render
                                                                partial="Display/Field/Inline"
                                                                arguments="{
                                                                  config:config,
                                                                  results:results,
                                                                  document:solr,
                                                                  field:'{displayField}'
                                                                }"/>
                                                        </f:link.action>
                                                    </f:case>
                                                    <!-- special handling of field VORKOP -->
                                                    <f:case value="VORKOP">
                                                        <f:link.action action="detail" arguments="{id:solr.id}" class="internal">
                                                            <span style="color:lightgrey;">{displayField}: </span>
                                                            <f:render
                                                                partial="Display/Field/Inline"
                                                                arguments="{
                                                                  config:config,
                                                                  results:results,
                                                                  document:solr,
                                                                  field:'{displayField}'
                                                                }"/>
                                                        </f:link.action>
                                                        <f:if condition="{displayField}=='VORKOP'">
                                                            <f:render
                                                                partial="Display/Field/Inline"
                                                                arguments="{
                                                                    config:config,
                                                                    results:results,
                                                                    document:solr,
                                                                    field:'{displayField}',
                                                                    linkFieldContent:1
                                                                }"/>
                                                        </f:if>
                                                    </f:case>
                                                    <!-- default data field handling -->
                                                    <f:defaultCase>
                                                        <f:link.action action="detail" arguments="{id:solr.0.fields.id}" class="internal">
                                                            <f:comment><span style="color:lightgrey;">{displayField}: </span></f:comment>
                                                            <f:if condition="!{s:data.isArray(subject: linkTextValue)}">
                                                                <f:then>
                                                                    {linkTextValue}
                                                                </f:then>
                                                                <f:else>
                                                                    <f:render
                                                                            partial="Display/Field/Inline"
                                                                            arguments="{
                                                                      config:config,
                                                                      results:results,
                                                                      document:solr,
                                                                      field:'{displayField}',
                                                                      linkTextValue: linkTextValue
                                                                    }"/>
                                                                </f:else>
                                                            </f:if>
                                                        </f:link.action>
                                                    </f:defaultCase>
                                                </f:switch>
                                        </f:for>
                                    </ul>
                                </li>
                            </f:then>
                            <f:else>
                                <li>
                                    <f:if condition="{linkTextValue}">
                                        <f:then>
                                            {linkTextValue}
                                        </f:then>
                                        <f:else>
                                            <s:find.highlightField
                                                field="{field}"
                                                document="{document}"
                                                results="{results}"
                                                index="{iterator.index}"
                                                alternateField="{s:data.valueForKey(array:config.highlight.alternateFields, key:field)}" />
                                        </f:else>
                                    </f:if>
                                    <f:comment>
                                    <br />
                                    <span style="color:lightgrey;">
                                        Nothing found. Is {s:data.valueForKey(array:settings.queryFieldForDataField, key:field)} indexed and {s:data.valueForKey(array:settings.displayFieldForDataField, key:field)} stored?
                                    </span>
                                    </f:comment>
                                </li>
                            </f:else>
                        </f:if>
                    </ol>
                </f:for>
            </f:then>
            <f:else>
                <f:alias map="{
                    fieldName:'{f:translate(key:\"LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}\", default:field)}',
                        highlightedFieldContent:'{s:find.highlightField(
                        results:results,
                        document:document,
                        field:field,
                        index:iterator.index
                        )}'
                        }">


                <f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field)}')}">
                    <f:then>
                        <s:data.newArray
                            name="fieldContent"
                            global="1"
                            keys="{0:0}"
                            values="{0:{0:'{s:data.valueForKey(
                                array:\"{s:data.valueForKey(array:document.fields, key:field)}\",
                                        key:iterator.index
                                        )}'}}"
                        />
                    </f:then>
                    <f:else>
                        <s:data.newArray
                            name="fieldContent"
                            global="1"
                            keys="{0:0}"
                            values="{0:'{s:data.valueForKey(
                                array:document.fields,
                                key:field
                              )}'}"
                        />
                    </f:else>
                </f:if>
                <f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:fieldContent.0)}">
                    <v:variable.set value="{fieldContent.0.0}" name="fieldContent.0" />
                </f:if>
                <s:data.newArray
                    name="queryArray"
                    global="1"
                    keys="{0:'{f:if(
                    condition:\"{s:data.valueForKey(
                                array:settings.queryFieldForDataField,
                                key:field
                                )}\",
                    then:\"{s:data.valueForKey(
                    array:settings.queryFieldForDataField,
                    key:field
                    )}\",
                    else:\"raw\"
                    )}'}"
                    values="{0:'{f:if(
                    condition:\"{s:data.valueForKey(
                    array:settings.queryFieldForDataField,
                    key:field
                    )}\",
                    then:fieldContent.0,
                    else:\'{field}:\"{fieldContent.0}\"\'
                    )}'}"
                />
                <f:link.action
                    action="index"
                    arguments="{
                        q:queryArray,
                        facet:linkFacets
                    }"
                    class="internal"
                    title="{f:translate(
                        key:'Alle Datensätze mit %1$s »%2$s« zeigen.',
                        arguments:'{1:fieldName, 2:fieldContent.0}'
                    )}"
                >
                    <f:if condition="{linkTextValue}">
                        <f:then>
                            {linkTextValue}
                        </f:then>
                        <f:else>
                            {highlightedFieldContent->f:format.raw()}
                        </f:else>
                    </f:if>
                </f:link.action>
                </f:alias>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:format.raw>
            <f:if condition="{linkTextValue}">
                <f:then>
                    {linkTextValue}
                </f:then>
                <f:else>
                    <f:if condition="{linkTexts}">
                        <f:then>
                            {linkTexts.0}
                        </f:then>
                        <f:else>
                            <dla:replaceBreaks text="{s:find.highlightField(
                                        field:field,
                                        document:document,
                                        results:results,
                                        index:iterator.index,
                                        alternateField:'{s:data.valueForKey(array:config.highlight.alternateFields, key:field)}'
                                        )}" as="textNew"/>
                            {textNew}
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </f:format.raw>
    </f:else>
</f:if>
