<div style="background-color:#dadada;">
    <div style="margin:1rem;">
        <b>Keine Treffer</b> bedeutet, dass die Recherche erfolglos war, aber nicht unbedingt, dass das Werk im DLA Marbach nicht vorhanden ist.
        <ul>
            <li>Vergewissern Sie sich, dass die Suchwörter richtig geschrieben sind.</li>
            <li>Sie können Ihre Suche erweitern, in dem Sie weniger Suchbegriffe eingeben oder Sie trunkieren (Wortanfang und „*“).</li>
            <li>Wenn Sie im Suchschlitz die Begriffe in Anführungszeichen setzen, stehen diese im Ergebnis in der von Ihnen gewählten Reihenfolge neben einander</li>
            <li>Bitte prüfen Sie, ob Filter ausgewählt sind, die Ihr Suchergebnis einschränken.</li>
            <li>Vielleicht befindet sich das Gesuchte in einem noch nicht vollständig katalogisierten Bestand (Nachlass, Sammlung, Verlagsarchiv, ...)? Dann sollten Sie Ihre Suche verändern und nach dem Bestand suchen. Im Bestandstreffer erhalten Sie Informationen über Inhalt und Zugang (ggfs. mit Strg+f die Seite durchsuchen).</li>
            <li>Sie sehen: das Thema ist anfangs komplex. Fragen Sie die Auskunft, um Recherchetipps zu bekommen oder schicken Sie uns eine E-Mail</li>
        </ul>
    </div>
    <div style="margin:1rem;">
        Bitte E-Mail hinterlegen mit: info@dla-marbach.de.
    </div>
    <div style="margin:1rem;">
        Vielen Dank und Grüße
    </div>
    <div style="margin:1rem;">
        Heike Albrecht und Karin Schmidgall
    </div>
</div>