<section class="ctg-facet-prestige">
    <h3><f:translate key='Sie haben das Gesuchte nicht gefunden?' extensionName='dla_opac_ng'/></h3>
    <p><f:translate key='Unter' extensionName='dla_opac_ng'/> <a href="../../../faq-zum-katalog">FAQ</a> <f:translate key='FAQ Info' extensionName='dla_opac_ng'/></p>
</section>

<section class="ctg-facet-prestige">
    <h3><f:translate key='Kontakt' extensionName='dla_opac_ng'/></h3>
    <p><strong><f:translate key='Auskunftsdienst Archiv' extensionName='dla_opac_ng'/></strong><br>
        <f:translate key="info.telephone" extensionName="dla_opac_ng"/> <a href="tel:+497144848425">+49 (0) 7144 / 848-425</a><br>
        <a href="mailto:auskhss@dla-marbach.de">auskhss@dla-marbach.de</a><br>
        <f:translate key="info.mo_fr_9_17" extensionName="dla_opac_ng"/></p>

    <p><strong><f:translate key='Auskunftsdienst Bibliothek' extensionName='dla_opac_ng'/></strong><br>
        <f:translate key="info.telephone" extensionName="dla_opac_ng"/> <a href="tel:+497144848318">+49 (0) 7144 / 848-318</a><br>
        <a href="mailto:bibliothek@dla-marbach.de">bibliothek@dla-marbach.de</a><br>
        <f:translate key="info.mo_fr_9_17" extensionName="dla_opac_ng"/></p>

    <p><strong><f:translate key='Auskunftsdienst Bilder und Objekte' extensionName='dla_opac_ng'/></strong><br>
        <f:translate key="info.telephone" extensionName="dla_opac_ng"/> <a href="tel:+497144848500">+49 (0) 7144 / 848-500</a><br>
            <f:translate key="info.telefax" extensionName="dla_opac_ng"/> <a href="tel:+497144848490">+49 (0) 7144 / 848-490</a><br>
        <a href="mailto:bilder-und-objekte@dla-marbach.de">bilder-und-objekte@dla-marbach.de</a><br>
        <f:translate key="info.mo_do_9_17" extensionName="dla_opac_ng"/><br>
        <f:translate key="info.fr_9-15" extensionName="dla_opac_ng"/>
    </p>
</section>
