<section class="ctg-facet-prestige">
    <h3><f:translate key='Sie haben das Gesuchte nicht gefunden?' extensionName='dla_opac_ng'/></h3>
    <p><f:translate key='search_help' extensionName='dla_opac_ng'/></p>
</section>

<section class="ctg-facet-prestige">
    <h3><f:translate key='Kontakt' extensionName='dla_opac_ng'/></h3>
    <p><strong><f:translate key='Auskunftsdienst Archiv' extensionName='dla_opac_ng'/></strong><br>
        Telefon <a href="tel:+497144848425">+49 (0) 7144 / 848-425</a><br>
        <a href="mailto:auskhss@dla-marbach.de">auskhss@dla-marbach.de</a><br>
        Montag - Freitag, 8:30h bis 18:00h</p>

    <p><strong><f:translate key='Auskunftsdienst Bibliothek' extensionName='dla_opac_ng'/></strong><br>
        Telefon <a href="tel:+497144848318">+49 (0) 7144 / 848-318</a><br>
        <a href="bibliothek@dla-marbach.de">bibliothek@dla-marbach.de</a><br>
        Montag - Freitag, 8:30h bis 17:30h</p>

    <p><strong><f:translate key='Auskunftsdienst Bilder und Objekte' extensionName='dla_opac_ng'/></strong><br>
        Telefon <a href="tel:+497144848500">+49 (0) 7144 / 848-500</a><br>
        Telefax <a href="tel:+497144848490">+49 (0) 7144 / 848-490</a><br>
        <a href="bibliothek@dla-marbach.de">bilder-und-objekte@dla-marbach.de</a><br>
        Montag - Freitag, 8:30h bis 18:00h
    </p>
</section>