

.tx_find .ctg-dtvt-details span {
    margin: 0;
    padding: 0;
}

.tx_find .ctg-dtvt-details li {
    margin: 0;
    padding: 0;
}


.tx_find .ctg-dtvt-details ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tx_find .ctg-dtvt-details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tx_find .ctg-dtvt-details p {
    margin: 0;
    padding: 0;
}

canvas#myChart {
    cursor: pointer;
}