

.tx_find .ctg-dtvt-details span {
    margin: 0;
    padding: 0;
}

.tx_find .ctg-dtvt-details li {
    margin: 0;
    padding: 0;
}


.tx_find .ctg-dtvt-details ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tx_find .ctg-dtvt-details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tx_find .ctg-dtvt-details p {
    margin: 0;
    padding: 0;
}

canvas#myChart {
    cursor: pointer;
}

.noUi-connect {
    background: #dadada !important;
}

.histogram-slider-input {
    width: 50px !important;
    display: inline !important;
}

.histogram-input-right {
    float:right;
}

#myHistogram {
    padding-bottom: 5px;
}

#from-histogramm {
    float:left;
}

#till-histogramm {
    float:right;
}

.histogram-inputs {
    padding-top:10px;
    padding-bottom: 50px;
}

.noUi-connect-active {
    background-color:#b61f24 !important;
}

.ctg-facet li em {
    padding-left: 5px;
}

.image-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tx_find em.highlight {
    font-style: normal !important;
    color: #c50017 !important;
}

ul.token-input-list {
    display: inline-block;
}
section.active-facets {
    background-color: #b51f23;
    color: white;
}

section.active-facets h3 {
    color: white;
}

section.active-facets a {
    color: white;
}

section.active-facets a:hover {
    color: #aeaeae;
    text-decoration: underline;
}

.active-facet-container {
    padding-top:0px !important;
}

.ctg-catalog-title a {
    color: #fff;
    text-decoration: none;
}

.ctg-catalog-title a:hover {
    color: #aeaeae;
    text-decoration: underline;
}

.active-facet-hr {
    margin: 0.5rem;
}

.active-facet-reset {
    margin-bottom:10px;
}

ul.token-input-list {
    display: inline-block;
}