<div class="off-canvas-wrap" data-offcanvas="">
	<div class="page-wrapper">

		<section class="left-off-canvas-menu" aria-hidden="true">
			
		<nav class="nav-meta">
			<ul>
						<li class="">
							<a href="https://www.dla-marbach.de/ueber-uns/">Informationen</a>
							
								<div class="level-2-wrapper" aria-hidden="true"><ul class="level-2">
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/ueber-uns/">Über uns</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/kalender/">Kalender</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/service/">Service</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/presse/">Presse</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/shop/">Shop</a>
									
									
									</li>
								
									<li class="">
									
										<a href="https://www.dla-marbach.de/kontakt/">Kontakt</a>
									
									
									</li>
								
								</ul></div>
							
						</li>

				
				
			</ul>
		</nav>
	
			
		<nav class="nav-main">
			<a class="left-off-canvas-toggle" aria-expanded="false"></a>
			
				<ul>
					
						<li class="sub">
							
								<a href="https://www.dla-marbach.de/archiv/" title="">Archiv</a>
							
							
						</li>
					
						<li class="sub">
							
								<a href="https://www.dla-marbach.de/bibliothek/" title="">Bibliothek</a>
							
							
						</li>
					
						<li class="sub">
							
								<a href="https://www.dla-marbach.de/museen/" title="">Museen</a>
							
							
						</li>
					
						<li class="sub">
							
								<a href="https://www.dla-marbach.de/bildung/" title="">Bildung</a>
							
							
						</li>
					
						<li class="sub">
							
								<a href="https://www.dla-marbach.de/forschung/" title="">Forschung</a>
							
							
						</li>
					
						<li class="sub">
							
								<a href="https://www.dla-marbach.de/katalog/" title="">Katalog</a>
							
							
						</li>
					
				</ul>
			
		</nav>

	
			
		<nav class="nav-language">
			<ul>
				<li>
				

					
						

						
					
						
							
								<a href="https://www.dla-marbach.de/en/">english</a>
							
						
					
				
				</li>
			</ul>
		</nav>
	
		</section>

		
		<div class="row">
			<header class="nav-wrapper">
				
		<nav class="nav-language">
			<ul>
				<li>
				

					
						

						
					
						
							
								<a href="https://www.dla-marbach.de/en/">english</a>
							
						
					
				
				</li>
			</ul>
		</nav>
	
				
		<nav class="nav-meta">
			<ul>
				
				
					
				
				
				
						<li class="">
							<a href="https://www.dla-marbach.de/ueber-uns/">Informationen</a>
							
								<div class="level-2-wrapper" aria-hidden="true"><ul class="level-2">
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/ueber-uns/">Über uns</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/kalender/">Kalender</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/service/">Service</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/presse/">Presse</a>
									
									
									</li>
								
									<li class="sub">
									
										<a href="https://www.dla-marbach.de/shop/">Shop</a>
									
									
									</li>
								
									<li class="">
									
										<a href="https://www.dla-marbach.de/kontakt/">Kontakt</a>
									
									
									</li>
								
								</ul></div>
							
						</li>

				
				
			</ul>
		</nav>
	
			</header>
		</div>

		<!-- Default header -->
		<div class="row" role="main">
			<header class="page-header" role="banner">
				<button class="button-nav-toggle left-off-canvas-toggle" aria-expanded="false">
					<i class="icon icon-hamburger"></i>
				</button>

				<a class="brand brand-header" href="https://www.dla-marbach.de/" title="Deutsches Literaturarchiv Marbach">Deutsches Literaturarchiv Marbach</a>
				<button class="button-nav-toggle right-off-canvas-toggle" aria-expanded="false">
					<i class="icon icon-search"></i>
				</button>


                <div class="global-search-wrapper right-off-canvas-menu">
	                

		
		<button class="button global-search-toggle">Suche</button>
		<form action="suche/" method="get" class="form-global-search" aria-hidden="true" accept-charset="utf-8">
			<input name="L" value="0" type="hidden">
			<div class="row">
				<div class="small-7 column">
					<label for="search-field">Suche nach:</label>
					<input id="search-field" class="tx-solr-q ui-autocomplete-input" name="q" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" type="text">
				</div>

				
				
					
				

				<div class="small-5 column">
					<label for="search-in-field">Suche in:</label>
					<select class="search-in-field" id="search-in-field" name="tx_solr[filter][0]">
						<option value="" selected="selected">gesamter Webauftritt</option>
						
							
							
								<option value="pageHierarchy: Archiv">Archiv</option>
							
						
							
							
								<option value="pageHierarchy: Bibliothek">Bibliothek</option>
							
						
							
							
								<option value="pageHierarchy: Museen">Museen</option>
							
						
							
							
								<option value="pageHierarchy: Forschung">Forschung</option>
							
						
							
							
								<option value="pageHierarchy: Bildung">Bildung</option>
							
						
							
							
								<option value="type:tt_products">Shop</option>
							
						
					</select>
				</div>
			</div>

			<div class="row">
				<div class="small-12 column">
					<button class="button button-search" role="button" aria-label="submit form">Suche starten</button>
				</div>
			</div>
		</form>
	
				</div>

			
			
		<nav class="nav-main">
			<a class="left-off-canvas-toggle" aria-expanded="false"></a>
			

				<ul>
					
						<li class="sub">
							<a href="https://www.dla-marbach.de/archiv/" title="">Archiv</a>

							

							
							
								
									
										
									
								
									
										
									
								
									
										
									
								
								<!-- dummy -->
							

							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
								
								

								<div class="level-2-wrapper columnal columnal-4">
									<div class="mc-1-4 mc-col">
										<ul class="level-2" aria-hidden="true">
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/friedrich-schiller/" title="">Friedrich Schiller</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/cotta-archiv/" title="">Cotta-Archiv</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-2-4 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/exil-helen-und-kurt-wolff-archiv/" title="Mit über 200 Vor- und Nachlässen von Schriftstellerinnen, Schriftstellern und Gelehrten, die während der NS-Zeit verfolgt wurden und ins Exil flüchteten, ist das Helen und Kurt Wolff-Archiv eine der wichtigsten Quellen zum deutschsprachigen Exil des 20. Jahrhunderts.">Exil: Helen und Kurt Wolff-Archiv</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/siegfried-unseld-archiv/" title="10.000 Archivkästen mit Korrespondenzen, Manuskripten und Notizen – das wichtigste Verlagsarchiv der modernen deutschen Literatur.">Siegfried Unseld Archiv</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/verlagsarchive/" title="">Verlagsarchive</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/gelehrte-philosophen-germanisten/" title="">Gelehrte, Philosophen, Germanisten</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/index-der-handschriften-bestaende/" title="">Index der Handschriften-Bestände</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-3-4 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/archiv/bilder-und-objekte/" title="">Bilder und Objekte</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/archiv/portraetgalerie/" title="">Porträtgalerie</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-4-4 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/archiv/projekte/" title="">Projekte</a>
														</li>
													
												
											
										</ul>
									</div>
								</div>
							
						</li>
					
						<li class="sub">
							<a href="https://www.dla-marbach.de/bibliothek/" title="">Bibliothek</a>

							

							
							
								
									
										
									
								
									
										
									
								
									
										
									
								
								<!-- dummy -->
							

							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
								
								

								<div class="level-2-wrapper columnal columnal-4">
									<div class="mc-1-4 mc-col">
										<ul class="level-2" aria-hidden="true">
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bibliothek/mediendokumentation/" title="">Mediendokumentation</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-2-4 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bibliothek/spezialsammlungen/" title="">Spezialsammlungen</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-3-4 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bibliothek/literatur-im-netz/" title="">Literatur im Netz</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bibliothek/germanistik-im-netz/" title="">Germanistik im Netz</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-4-4 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bibliothek/bibliografien/" title="">Bibliografien</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bibliothek/projekte/" title="">Projekte</a>
														</li>
													
												
											
										</ul>
									</div>
								</div>
							
						</li>
					
						<li class="sub">
							<a href="https://www.dla-marbach.de/museen/" title="">Museen</a>

							

							
							
								
									
										
									
								
									
										
									
								
								<!-- dummy -->
							

							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
								
								

								<div class="level-2-wrapper columnal columnal-3">
									<div class="mc-1-3 mc-col">
										<ul class="level-2" aria-hidden="true">
											
												

													
													
														
													

													
													

													
														<li class="label ">
															<a href="https://www.dla-marbach.de/museen/literaturmuseum-der-moderne/" title="">Literaturmuseum der Moderne</a>

														
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/museen/wechselausstellungen/" title="">Wechselausstellungen</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/museen/dauerausstellung-die-seele/" title="">Dauerausstellung DIE SEELE</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/architektur-limo/" title="">Architektur</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-2-3 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="label ">
															<a href="https://www.dla-marbach.de/museen/schiller-nationalmuseum/" title="">Schiller-Nationalmuseum</a>

														
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/dauerausstellung-unterm-parnass/" title="">Dauerausstellung UNTERM PARNASS</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/geschichte/" title="">Geschichte</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/architektur-snm/" title="">Architektur</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-3-3 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="label ">
															<a href="https://www.dla-marbach.de/museen/besucherinformation/" title="">Besucherinformation</a>

														
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/museums-app/" title="">Museums-App</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/ausstellungskataloge/" title="">Ausstellungskataloge</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/museen/lese-garten-cafe/" title="">Lese-Garten-Café</a>
														</li>
													
												
											
										</ul>
									</div>
								</div>
							
						</li>
					
						<li class="sub">
							<a href="https://www.dla-marbach.de/bildung/" title="">Bildung</a>

							

							
							
								
									
										
									
								
									
										
									
								
								<!-- dummy -->
							

							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
								
								

								<div class="level-2-wrapper columnal columnal-3">
									<div class="mc-1-3 mc-col">
										<ul class="level-2" aria-hidden="true">
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bildung/junges-museum/" title="">Junges Museum</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/bildung/familien-und-kinder/" title="">Familien und Kinder</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/bildung/erwachsene/" title="">Erwachsene</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-2-3 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bildung/angebote-fuer-schulen/" title="">Angebote für Schulen</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/bildung/lehrerfortbildungen/" title="">Lehrerfortbildungen</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-3-3 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/bildung/buchbare-fuehrungen-und-workshops/" title="">Buchbare Führungen und Workshops</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/bildung/fuehrungen-die-familie-ein-archiv/" title="">Führungen »Die Familie. Ein Archiv«</a>
														</li>
													
												
											
										</ul>
									</div>
								</div>
							
						</li>
					
						<li class="sub">
							<a href="https://www.dla-marbach.de/forschung/" title="">Forschung</a>

							

							
							
								
									
										
									
								
								<!-- dummy -->
							

							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
								
								

								<div class="level-2-wrapper columnal columnal-2">
									<div class="mc-1-2 mc-col">
										<ul class="level-2" aria-hidden="true">
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/forschung/tagungen/" title="">Tagungen</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/forschung/das-marbacher-stipendienprogramm/" title="">Das Marbacher Stipendienprogramm</a>
														</li>
													
												
											
												
													
														
										</ul>
									</div>

									<div class="mc-2-2 mc-col">
										<ul class="level-2" aria-hidden="true">
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/internationales-archivforschungsprojekt-1968/" title="">Internationales Archivforschungsprojekt 1968</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/suhrkamp-forschungskolleg/" title="">Suhrkamp-Forschungskolleg</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/global-archives/" title="">Global Archives</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="sub">
															<a href="https://www.dla-marbach.de/forschung/arbeitsstelle-fuer-die-erforschung-der-geschichte-der-germanistik/" title="">Arbeitsstelle für die Erforschung der Geschichte der Germanistik</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/koordinierungsstelle-zur-erforschung-deutsch-juedischer-nachlaesse-in-israel/" title="">Koordinierungsstelle zur Erforschung deutsch-jüdischer Nachlässe in Israel</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/forschungsverbund-marbach-weimar-wolfenbuettel/" title="">Forschungsverbund Marbach Weimar Wolfenbüttel</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/kooperationen/" title="">Kooperationen</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/forschung/projekte/" title="">Projekte</a>
														</li>
													
												
											
										</ul>
									</div>
								</div>
							
						</li>
					
						<li class="sub">
							<a href="https://www.dla-marbach.de/katalog/" title="">Katalog</a>

							

							
							

							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
								
								

								<div class="level-2-wrapper columnal columnal-1">
									<div class="mc-1-1 mc-col">
										<ul class="level-2" aria-hidden="true">
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/katalog/handschriften/" title="">Handschriften</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/katalog/bibliothek/" title="">Bibliothek</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/katalog/bilder-und-objekte/" title="">Bilder und Objekte</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/katalog/bestaende/" title="">Bestände</a>
														</li>
													
												
											
												

													
													
														
													

													
													

													
														<li class="">
															<a href="https://www.dla-marbach.de/katalog/namen/" title="">Namen</a>
														</li>
													
												
											
										</ul>
									</div>
								</div>
							
						</li>
					
				</ul>
			
		</nav>

	

			
		<div class="breadcrumbs-wrapper">
			

				<ul class="breadcrumbs">
					<li class="breadcrumbs-label">
						Sie befinden sich hier:
					</li>

					
						
							
									<li class="current">
										<span>Katalog</span>
									</li>
								
						
					
				</ul>
			
		</div>
	

			</header>
		</div>
		
	

		
		
		
			
				<div class="row">
					<div class="small-12">

                        <figure class="ctg-header ctg-header-home">
	                        <section class="ctg-hd-meta">
	                            <div class="ctg-catalog-title">
	                                <strong>Kallías</strong> – der Online-Katalog des Deutschen Literaturarchivs Marbach
	                            </div>
	                            <div class="ctg-hd-meta-menu">
	                                <ul>
                					    <li>
                							<a href="#" title="Merkliste"><span class="icon bel-stern02"></span>Merkliste</a>
                						</li>
                						<li>
                							<a href="#" title="Feedback"><span class="icon bel-sprache01"></span>Feedback</a>
                						</li>
                						<li>
                							<a href="#" title="Mein Konto"><span class="icon bel-nutzer"></span>Mein Konto</a>
                						</li>
                				    </ul>
	                            </div>
	                        </section>
	                        
	                        <section class="ctg-hd-search">
	                            <form action="">
    	                            <ul>
    	                                <li>
                    					    <a href="#" title="Gesamtbestand" class="ctg-hd-active"><span class="icon bel-mkombo06"></span>Gesamtbestand</a>
                    					</li>
                    					<li>
                    					    <a href="#" title="Gedrucktes"><span class="icon bel-mag"></span>Gedrucktes</a>
                    					</li>
                    					<li>
                    					    <a href="#" title="Handschriften"><span class="icon bel-schreiben"></span>Handschriften</a>
                    					</li>
                    					<li>
                    					    <a href="#" title="Bilder & Objekte"><span class="icon bel-foto"></span>Bilder & Objekte</a>
                    					</li>
                    					<li>
                    					    <a href="#" title="Audio & Video"><span class="icon bel-note"></span>Audio & Video</a>
                    					</li>
    	                            </ul>
    	                            
    	                            <div class="ctg-hd-search-form">
    	                                <input type="text" value="Wonach suchen Sie?" /><button type="submit"><span class="icon bel-lupe"></span>Jetzt suchen</button>
    	                            </div>
	                            </form>
	                        </section>
	                        
	                        <section class="ctg-hd-addon">
	                            <ul>
	                                <li>
                    				    <a href="#" title="Expertensuche"><span class="icon bel-regler01"></span><span class="ctg-hd-addon-term">Expertensuche</span></a>
                    				</li>
                    				<li>
                    				    <a href="#" title="Bestandsübersicht"><span class="icon bel-inhalt"></span><span class="ctg-hd-addon-term">Bestandsübersicht</span></a>
                    				</li>
                    				<li>
                    				    <a href="#" title="Suchverlauf"><span class="icon bel-zurueck02"></span><span class="ctg-hd-addon-term">Suchverlauf</span></a>
                    				</li>
                    				<li>
                    				    <a href="#" title="Hilfe & Auskunft"><span class="icon bel-info"></span><span class="ctg-hd-addon-term">Hilfe & Auskunft</span></a>
                    				</li>
	                            </ul>
	                       </section>
                        </figure>

					</div>
				</div>
			
		
	

		<!--TYPO3SEARCH_begin-->
		
		<div class="row page-content">
			<section class="small-12 column content content-index" role="main">
				<div class="row">
					<div class="small-12 column">
						<div class="row">
							<div class="small-6 large-4 column">
								
                                <figure class="teaser teaser-index ctg-image-teaser">
                                    <div class="ctg-it-content" style="background: url(Start%20-%20DLA%20Marbach-Dateien/ctg-schiller.jpg); background-size: cover;">
                                        <h4><a href="">Objekt der Monats</a></h4>
                                        <h3><a href="">Schillers Gedichte</a></h3>
                                    </div>
                                </figure>
            
							</div><!--
							--><div class="small-6 large-4 column">
								
                                <figure class="teaser teaser-index ctg-image-teaser">
                                    <div class="ctg-it-content" style="background: url(Start%20-%20DLA%20Marbach-Dateien/ctg-hesse.jpg); background-size: cover;">
                                        <h4><a href="">Sammlung</a></h4>
                                        <h3><a href="">Briefe von Hermann Hesse</a></h3>
                                    </div>
                                </figure>
            
							</div><!--
							--><div class="small-6 large-4 column">
								
                                <figure class="teaser teaser-index ctg-image-teaser">
                                    <div class="ctg-it-content" style="background: url(Start%20-%20DLA%20Marbach-Dateien/ctg-handke.jpg); background-size: cover;">
                                        <h4><a href="">Sammlung</a></h4>
                                        <h3><a href="">Tagebücher von Peter Handke</a></h3>
                                    </div>
                                </figure>
            
							</div><!--
						</div>
						<div class="row">
							--><div class="small-6 large-4 column">
								
                                <figure class="teaser teaser-index teaser-static ctg-text-teaser">
                
                                    <h3>Tipps & Empfehlungen</h3>
                                    <ul class="list-links">
                                    	<li>
                                    		<a href="#">A falsis, elogium audax compater.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Sunt indexes captis bi-color, barbatus voxes.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Bulla faveres, tanquam emeritis orgia.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Sunt indexes captis bi-color, barbatus voxes.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Velox repressors ducunt ad cursus.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Regius orgias ducunt ad compater.</a>
                                    	</li>
                                    </ul>
                
                                </figure>
            
							</div><!--
							--><div class="small-6 large-4 column">
								
                                <figure class="teaser teaser-index teaser-static ctg-text-teaser">
                                    
                                    <h3>Bedeutende Kunstwerke</h3>
                                    <ul class="list-links">
                                    	<li>
                                    		<a href="#">A falsis, elogium audax compater.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Sunt indexes captis bi-color, barbatus voxes.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Bulla faveres, tanquam emeritis orgia.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Velox repressors ducunt ad cursus.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Regius orgias ducunt ad compater.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Sunt indexes captis bi-color, barbatus voxes.</a>
                                    	</li>
                                    </ul>
                                    
                                </figure>
            
							</div><!--
							--><div class="small-6 large-4 column">
								
                                <figure class="teaser teaser-index teaser-static ctg-text-teaser">
                                    
                                    <h3>Neu im Katalog</h3>
                                    <ul class="list-links">
                                    	<li>
                                    		<a href="#">A falsis, elogium audax compater.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Sunt indexes captis bi-color, barbatus voxes.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Bulla faveres, tanquam emeritis orgia.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Velox repressors ducunt ad cursus.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Sunt indexes captis bi-color, barbatus voxes.</a>
                                    	</li>
                                    	<li>
                                    		<a href="#">Regius orgias ducunt ad compater.</a>
                                    	</li>
                                    </ul>
                                    
                                </figure>
            
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	
		<!--TYPO3SEARCH_end-->

		<div class="row">
            <div class="small-12">
                <section class="ctg-important-info">
                    <h3>Hinweise zu unseren Beständen</h3>
                    <p>Quisque rutrum. Bitte beachten Sie aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas
tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                </section>
            </div>
	    </div>
		
        <div class="row ctg-footer">
            <div class="small-6 column">
                <section style="background: url(Start%20-%20DLA%20Marbach-Dateien/ctg-footer-01.jpg); background-size: cover;">
                    <h3>Kallías</h3>
                    <p>Die Sammlungen des Deutschen Literaturarchivs Marbach werden im
                    Online-Katalog Kallías erschlossen und für die Benutzung zugänglich
                    gemacht. Bereits registrierte Benutzerinnen und Benutzer haben die
                    Möglichkeit, Bestellungen im Voraus via Internet aufzugeben. Lorem
                    ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor.</p>
                </section>
            </div>
            <div class="small-6 column">
                <section>
                    <h3>Kontakt</h3>
                    <div class="ctg-footer-table">
                        <p class="ctg-footer-td"><strong>Auskunftsdienst Archiv</strong><br/>
                        Telefon <a href="tel:+497144848425">+49 (0) 7144 / 848-425</a><br/>
                        Telefax +49 (0) 7144 / 848-490<br/>
                        <a href="mailto:auskhss@dla-marbach.de">auskhss@dla-marbach.de</a><br/><br/>
                        Montag - Freitag, 8:30h bis 18:00h</p>
                        
                        <p class="ctg-footer-td"><strong>Auskunftsdienst Bibliothek</strong><br/>
                        Telefon <a href="tel:+497144848318">+49 (0) 7144 / 848-318</a><br/>
                        Telefax +49 (0) 7144 / 848-390<br/>
                        <a href="bibliothek@dla-marbach.de">bibliothek@dla-marbach.de</a><br/><br/>
                        Montag - Freitag, 8:30h bis 17:30h</p>
                    </div>
                </section>
            </div>
        </div>
		
        <div class="row ctg-footer-notice">
            <div class="small-6 column">
                <section>
                    <span class="icon bel-daten"></span>
                    <h3>435.234 Digitalisate</h3>
                    <p>Täglich aktuell: Neue Digitalisate integer tincidunt. Cras dapibus.
Vivamus elementum semper nisi. Aenean vulputate eleifend.</p>
                </section>
            </div>
            <div class="small-6 column">
                <section style="background: url(Start%20-%20DLA%20Marbach-Dateien/ctg-footer-02.jpg); background-size: cover;">
                    <span class="icon bel-frage"></span>
                    <h3>Sie haben das Gesuchte nicht gefunden?</h3>
                    <p>Sprechen Sie uns an: Aenean massa. Cum sociis natoque penati
montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
                </section>
            </div>
        </div>

		<div class="row">
			
			<footer class="page-footer" role="contentinfo">
				<nav class="nav-footer">
					<div class="row">
						

							
								<div class="column">
									<ul>
										<li class="label">
											<span>Bestandserhaltung</span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/konservierung-und-restaurierung/" title="">Konservierung und Restaurierung</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/praeventive-konservierung/" title="">Präventive Konservierung</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/restaurierung/" title="">Restaurierung</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/mengenentsaeuerung/" title="">Mengenentsäuerung</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/digitale-bestandserhaltung/" title="">Digitale Bestandserhaltung</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/exponatpflege/" title="">Exponatpflege</a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span>Sammlungen</span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/bibliothek/spezialsammlungen/autorenbibliotheken/" title="">Autorenbibliotheken</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/exil-helen-und-kurt-wolff-archiv/" title="">Exil</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/gelehrte-philosophen-germanisten/" title="">Germanisten- und Gelehrtennachlässe</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bibliothek/mediendokumentation/" title="">Mediendokumentation</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/portraetgalerie/" title="">Porträtgalerie</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/friedrich-schiller/" title="">Friedrich Schiller</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/verlagsarchive/" title="">Verlagsarchive</a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span>Wiss. Kooperationen</span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/forschung/kooperationen/" title="">Internationale Partneruniversitäten</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/forschung/forschungsverbund-marbach-weimar-wolfenbuettel/" title="">Forschungsverbund MWW</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/forschung/global-archives/" title="">Global Archives</a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span>Freunde und Partner</span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/freundeskreis/" title="">Freundeskreis</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/traegerverein-dsg/mitglied-werden/" title="">Mitglied werden</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/spenden/" title="">Spenden</a>
												</li>
											
												<li><a href="http://www.afdlam.org/index/" title="">American Friends of Marbach</a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span>Häufig besuchte Seiten</span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/service/anreise/" title="">Anreise</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/unterkunft-im-collegienhaus/" title="">Collegienhaus</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/stellenangebote/?no_cache=1" title="">Stellenangebote</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/oeffnungszeiten/" title="">Öffnungszeiten</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/preise-museumsfuehrungen-und-workshops/" title="">Führungen</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bildung/angebote-fuer-schulen/" title="">Schule und Lehrer</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/presse/neuerwerbungen-des-dla/" title="">Neuerwerbungen</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/raumvermietung/" title="">Raumvermietung</a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/newsletter/" title="">Newsletter</a>
												</li>
											
										
									</ul>
								</div>

							
						
					</div>
				</nav>
			</footer>
			
			<footer class="copy-footer small-12 column">
				© 2018 Deutsches Literaturarchiv Marbach –
				<a href="https://www.dla-marbach.de/impressum/">
					Impressum
				</a> -
                <a href="https://www.dla-marbach.de/datenschutzerklaerung/">
                    Datenschutzerklärung
                </a>
			</footer>

		</div>

		<a class="exit-off-canvas"></a>
	</div> <!-- .page-wrapper -->
</div> <!-- .off-canvas-wrap -->