<div class="off-canvas-wrap" data-offcanvas="">
	<div class="page-wrapper">
		<section class="left-off-canvas-menu" aria-hidden="true">
		<nav class="nav-meta">
			<ul>
				<li class="">
					<a href="https://www.dla-marbach.de/ueber-uns/"><f:translate key='Informationen' extensionName='dla_opac_ng'/></a>
					<div class="level-2-wrapper" aria-hidden="true">
						<ul class="level-2">
							<li class="sub">
								<a href="https://www.dla-marbach.de/ueber-uns/"><f:translate key='Über uns' extensionName='dla_opac_ng'/></a>
							</li>
							<li class="sub">
								<a href="https://www.dla-marbach.de/kalender/"><f:translate key='Kalender' extensionName='dla_opac_ng'/></a>
							</li>
							<li class="sub">
								<a href="https://www.dla-marbach.de/service/"><f:translate key='Service' extensionName='dla_opac_ng'/></a>
							</li>
							<li class="sub">
								<a href="https://www.dla-marbach.de/presse/"><f:translate key='Presse' extensionName='dla_opac_ng'/></a>
							</li>
							<li class="sub">
								<a href="https://www.dla-marbach.de/shop/"><f:translate key='Shop' extensionName='dla_opac_ng'/></a>
							</li>
							<li class="">
								<a href="https://www.dla-marbach.de/kontakt/"><f:translate key='Kontakt' extensionName='dla_opac_ng'/></a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
		<nav class="nav-main">
			<a class="left-off-canvas-toggle" aria-expanded="false"></a>
			<ul>
				<li class="sub">
					<a href="https://www.dla-marbach.de/archiv/" title=""><f:translate key='Archiv' extensionName='dla_opac_ng'/></a>
				</li>
				<li class="sub">
					<a href="https://www.dla-marbach.de/bibliothek/" title=""><f:translate key='Bibliothek' extensionName='dla_opac_ng'/></a>
				</li>
				<li class="sub">
					<a href="https://www.dla-marbach.de/museen/" title=""><f:translate key='Museen' extensionName='dla_opac_ng'/></a>
				</li>
				<li class="sub">
					<a href="https://www.dla-marbach.de/bildung/" title=""><f:translate key='Bildung' extensionName='dla_opac_ng'/></a>
				</li>
				<li class="sub">
					<a href="https://www.dla-marbach.de/forschung/" title=""><f:translate key='Forschung' extensionName='dla_opac_ng'/></a>
				</li>
				<li class="sub">
					<a href="https://www.dla-marbach.de/katalog/" title=""><f:translate key='Katalog' extensionName='dla_opac_ng'/></a>
				</li>
			</ul>
		</nav>
		<nav class="nav-language">
			<ul>
				<li>
					<a href="https://www.dla-marbach.de/en/"><f:translate key='english' extensionName='dla_opac_ng'/></a>
				</li>
			</ul>
		</nav>
		</section>

		<div class="row">
			<header class="nav-wrapper">
				<nav class="nav-language">
					<ul>
						<li>
							<a href="https://www.dla-marbach.de/en/"><f:translate key='english' extensionName='dla_opac_ng'/></a>
						</li>
					</ul>
				</nav>
				<nav class="nav-meta">
					<ul>
						<li class="">
							<a href="https://www.dla-marbach.de/ueber-uns/"><f:translate key='Informationen' extensionName='dla_opac_ng'/></a>
								<div class="level-2-wrapper" aria-hidden="true">
									<ul class="level-2">
										<li class="sub">
											<a href="https://www.dla-marbach.de/ueber-uns/"><f:translate key='Über uns' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/kalender/"><f:translate key='Kalender' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/service/"><f:translate key='Service' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/presse/"><f:translate key='Presse' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/shop/"><f:translate key='Shop' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/kontakt/"><f:translate key='Kontakt' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
						</li>
					</ul>
				</nav>
			</header>
		</div>

		<!-- Default header -->
		<div class="row" role="main">
			<header class="page-header" role="banner">
				<button class="button-nav-toggle left-off-canvas-toggle" aria-expanded="false">
					<i class="icon icon-hamburger"></i>
				</button>
				<a class="brand brand-header" href="https://www.dla-marbach.de/" title="Deutsches Literaturarchiv Marbach"><f:translate key='Deutsches Literaturarchiv Marbach' extensionName='dla_opac_ng'/></a>
				<button class="button-nav-toggle right-off-canvas-toggle" aria-expanded="false">
					<i class="icon icon-search"></i>
				</button>
                <div class="global-search-wrapper right-off-canvas-menu">
					<button class="button global-search-toggle"><f:translate key='Suche' extensionName='dla_opac_ng'/></button>
					<form action="suche/" method="get" class="form-global-search" aria-hidden="true" accept-charset="utf-8">
						<input name="L" value="0" type="hidden">
						<div class="row">
							<div class="small-7 column">
								<label for="search-field"><f:translate key='Suche nach:' extensionName='dla_opac_ng'/></label>
								<input id="search-field" class="tx-solr-q ui-autocomplete-input" name="q" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" type="text">
							</div>
							<div class="small-5 column">
								<label for="search-in-field"><f:translate key='Suche in:' extensionName='dla_opac_ng'/></label>
								<select class="search-in-field" id="search-in-field" name="tx_solr[filter][0]">
									<option value="" selected="selected"><f:translate key='gesamter Webauftritt' extensionName='dla_opac_ng'/></option>
									<option value="pageHierarchy: Archiv"><f:translate key='Archiv' extensionName='dla_opac_ng'/></option>
									<option value="pageHierarchy: Bibliothek"><f:translate key='Bibliothek' extensionName='dla_opac_ng'/></option>
									<option value="pageHierarchy: Museen"><f:translate key='Museen' extensionName='dla_opac_ng'/></option>
									<option value="pageHierarchy: Forschung"><f:translate key='Forschung' extensionName='dla_opac_ng'/></option>
									<option value="pageHierarchy: Bildung"><f:translate key='Bildung' extensionName='dla_opac_ng'/></option>
									<option value="type:tt_products"><f:translate key='Shop' extensionName='dla_opac_ng'/></option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="small-12 column">
								<button class="button button-search" role="button" aria-label="submit form"><f:translate key='Suche starten' extensionName='dla_opac_ng'/></button>
							</div>
						</div>
					</form>
				</div>
			
				<nav class="nav-main">
					<a class="left-off-canvas-toggle" aria-expanded="false"></a>
					<ul>
						<li class="sub">
							<a href="https://www.dla-marbach.de/archiv/" title=""><f:translate key='Archiv' extensionName='dla_opac_ng'/></a>
							<!-- dummy -->
							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
							<div class="level-2-wrapper columnal columnal-4">
								<div class="mc-1-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/friedrich-schiller/" title=""><f:translate key='Friedrich Schiller' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/cotta-archiv/" title=""><f:translate key='Cotta-Archiv' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-2-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/exil-helen-und-kurt-wolff-archiv/" title="<f:translate key='Mit über 200 Vor- und Nachlässen von Schriftstellerinnen, Schriftstellern und Gelehrten, die während der NS-Zeit verfolgt wurden und ins Exil flüchteten, ist das Helen und Kurt Wolff-Archiv eine der wichtigsten Quellen zum deutschsprachigen Exil des 20. Jahrhunderts.' extensionName='dla_opac_ng'/>"><f:translate key='Exil: Helen und Kurt Wolff-Archiv' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/siegfried-unseld-archiv/" title="<f:translate key='10.000 Archivkästen mit Korrespondenzen, Manuskripten und Notizen – das wichtigste Verlagsarchiv der modernen deutschen Literatur.' extensionName='dla_opac_ng'/>"><f:translate key='Siegfried Unseld Archiv' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/verlagsarchive/" title=""><f:translate key='Verlagsarchive' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/gelehrte-philosophen-germanisten/" title=""><f:translate key='Gelehrte, Philosophen, Germanisten' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/index-der-handschriften-bestaende/" title=""><f:translate key='Index der Handschriften-Bestände' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-3-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/archiv/bilder-und-objekte/" title=""><f:translate key='Bilder und Objekte' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/archiv/portraetgalerie/" title=""><f:translate key='Porträtgalerie' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-4-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/archiv/projekte/" title=""><f:translate key='Projekte' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="sub">
							<a href="https://www.dla-marbach.de/bibliothek/" title=""><f:translate key='Bibliothek' extensionName='dla_opac_ng'/></a>
							<!-- dummy -->
							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
							<div class="level-2-wrapper columnal columnal-4">
								<div class="mc-1-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bibliothek/mediendokumentation/" title=""><f:translate key='Mediendokumentation' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-2-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bibliothek/spezialsammlungen/" title=""><f:translate key='Spezialsammlungen' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-3-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bibliothek/literatur-im-netz/" title=""><f:translate key='Literatur im Netz' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/bibliothek/germanistik-im-netz/" title=""><f:translate key='Germanistik im Netz' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-4-4 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bibliothek/bibliografien/" title=""><f:translate key='Bibliografien' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/bibliothek/projekte/" title=""><f:translate key='Projekte' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="sub">
							<a href="https://www.dla-marbach.de/museen/" title=""><f:translate key='Museen' extensionName='dla_opac_ng'/></a>
							<!-- dummy -->
							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
							<div class="level-2-wrapper columnal columnal-3">
								<div class="mc-1-3 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="label ">
											<a href="https://www.dla-marbach.de/museen/literaturmuseum-der-moderne/" title=""><f:translate key='Literaturmuseum der Moderne' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/museen/wechselausstellungen/" title=""><f:translate key='Wechselausstellungen' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/museen/dauerausstellung-die-seele/" title=""><f:translate key='Dauerausstellung DIE SEELE' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/architektur-limo/" title=""><f:translate key='Architektur' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-2-3 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="label ">
											<a href="https://www.dla-marbach.de/museen/schiller-nationalmuseum/" title=""><f:translate key='Schiller-Nationalmuseum' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/dauerausstellung-unterm-parnass/" title=""><f:translate key='Dauerausstellung UNTERM PARNASS' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/geschichte/" title=""><f:translate key='Geschichte' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/architektur-snm/" title=""><f:translate key='Architektur' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-3-3 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="label ">
											<a href="https://www.dla-marbach.de/museen/besucherinformation/" title=""><f:translate key='Besucherinformation' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/museums-app/" title=""><f:translate key='Museums-App' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/ausstellungskataloge/" title=""><f:translate key='Ausstellungskataloge' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/museen/lese-garten-cafe/" title=""><f:translate key='Lese-Garten-Café' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="sub">
							<a href="https://www.dla-marbach.de/bildung/" title=""><f:translate key='Bildung' extensionName='dla_opac_ng'/></a>
							<!-- dummy -->
							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
							<div class="level-2-wrapper columnal columnal-3">
								<div class="mc-1-3 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bildung/junges-museum/" title=""><f:translate key='Junges Museum' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/bildung/familien-und-kinder/" title=""><f:translate key='Familien und Kinder' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/bildung/erwachsene/" title=""><f:translate key='Erwachsene' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							<div class="mc-2-3 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bildung/angebote-fuer-schulen/" title=""><f:translate key='Angebote für Schulen' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/bildung/lehrerfortbildungen/" title=""><f:translate key='Lehrerfortbildungen' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-3-3 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/bildung/buchbare-fuehrungen-und-workshops/" title=""><f:translate key='Buchbare Führungen und Workshops' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/bildung/fuehrungen-die-familie-ein-archiv/" title=""><f:translate key='Führungen »Die Familie. Ein Archiv«' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="sub">
							<a href="https://www.dla-marbach.de/forschung/" title=""><f:translate key='Forschung' extensionName='dla_opac_ng'/></a>
							<!-- dummy -->
							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
							<div class="level-2-wrapper columnal columnal-2">
								<div class="mc-1-2 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="sub">
											<a href="https://www.dla-marbach.de/forschung/tagungen/" title=""><f:translate key='Tagungen' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/forschung/das-marbacher-stipendienprogramm/" title=""><f:translate key='Das Marbacher Stipendienprogramm' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
								<div class="mc-2-2 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/internationales-archivforschungsprojekt-1968/" title=""><f:translate key='Internationales Archivforschungsprojekt 1968' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/suhrkamp-forschungskolleg/" title=""><f:translate key='Suhrkamp-Forschungskolleg' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/global-archives/" title=""><f:translate key='Global Archives' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="sub">
											<a href="https://www.dla-marbach.de/forschung/arbeitsstelle-fuer-die-erforschung-der-geschichte-der-germanistik/" title=""><f:translate key='Arbeitsstelle für die Erforschung der Geschichte der Germanistik' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/koordinierungsstelle-zur-erforschung-deutsch-juedischer-nachlaesse-in-israel/" title=""><f:translate key='Koordinierungsstelle zur Erforschung deutsch-jüdischer Nachlässe in Israel' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/forschungsverbund-marbach-weimar-wolfenbuettel/" title=""><f:translate key='Forschungsverbund Marbach Weimar Wolfenbüttel' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/kooperationen/" title=""><f:translate key='Kooperationen' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/forschung/projekte/" title=""><f:translate key='Projekte' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="sub">
							<a href="https://www.dla-marbach.de/katalog/" title=""><f:translate key='Katalog' extensionName='dla_opac_ng'/></a>
							<!-- doktype 1=default, 3=link, 4=shortcut, 7=mount point, 199=Trenner-->
							<div class="level-2-wrapper columnal columnal-1">
								<div class="mc-1-1 mc-col">
									<ul class="level-2" aria-hidden="true">
										<li class="">
											<a href="https://www.dla-marbach.de/katalog/handschriften/" title=""><f:translate key='Handschriften' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/katalog/bibliothek/" title=""><f:translate key='Bibliothek' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/katalog/bilder-und-objekte/" title=""><f:translate key='Bilder und Objekte' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/katalog/bestaende/" title=""><f:translate key='Bestände' extensionName='dla_opac_ng'/></a>
										</li>
										<li class="">
											<a href="https://www.dla-marbach.de/katalog/namen/" title=""><f:translate key='Namen' extensionName='dla_opac_ng'/></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</nav>
				<div class="breadcrumbs-wrapper">
					<ul class="breadcrumbs">
						<li class="breadcrumbs-label">
							<f:translate key='Sie befinden sich hier:' extensionName='dla_opac_ng'/>
						</li>
						<li class="current">
							<span><f:translate key='Katalog' extensionName='dla_opac_ng'/></span>
						</li>
					</ul>
			
				</div>
			</header>
		</div>


		<f:render section="main" />


		<div class="row">
			
			<footer class="page-footer" role="contentinfo">
				<nav class="nav-footer">
					<div class="row">
						

							
								<div class="column">
									<ul>
										<li class="label">
											<span><f:translate key='Bestandserhaltung' extensionName='dla_opac_ng'/></span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/konservierung-und-restaurierung/" title=""><f:translate key='Konservierung und Restaurierung' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/praeventive-konservierung/" title=""><f:translate key='Präventive Konservierung' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/restaurierung/" title=""><f:translate key='Restaurierung' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/mengenentsaeuerung/" title=""><f:translate key='Mengenentsäuerung' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/digitale-bestandserhaltung/" title=""><f:translate key='Digitale Bestandserhaltung' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bestandserhaltung/exponatpflege/" title=""><f:translate key='Exponatpflege' extensionName='dla_opac_ng'/></a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span><f:translate key='Sammlungen' extensionName='dla_opac_ng'/></span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/bibliothek/spezialsammlungen/autorenbibliotheken/" title=""><f:translate key='Autorenbibliotheken' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/exil-helen-und-kurt-wolff-archiv/" title=""><f:translate key='Exil' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/gelehrte-philosophen-germanisten/" title=""><f:translate key='Germanisten- und Gelehrtennachlässe' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bibliothek/mediendokumentation/" title=""><f:translate key='Mediendokumentation' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/portraetgalerie/" title=""><f:translate key='Porträtgalerie' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/friedrich-schiller/" title=""><f:translate key='Friedrich Schiller' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/archiv/verlagsarchive/" title=""><f:translate key='Verlagsarchive' extensionName='dla_opac_ng'/></a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span><f:translate key='Wiss. Kooperationen' extensionName='dla_opac_ng'/></span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/forschung/kooperationen/" title=""><f:translate key='Internationale Partneruniversitäten' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/forschung/forschungsverbund-marbach-weimar-wolfenbuettel/" title=""><f:translate key='Forschungsverbund MWW' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/forschung/global-archives/" title=""><f:translate key='Global Archives' extensionName='dla_opac_ng'/></a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span><f:translate key='Freunde und Partner' extensionName='dla_opac_ng'/></span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/freundeskreis/" title=""><f:translate key='Freundeskreis' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/traegerverein-dsg/mitglied-werden/" title=""><f:translate key='Mitglied werden' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/spenden/" title=""><f:translate key='Spenden' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="http://www.afdlam.org/index/" title=""><f:translate key='American Friends of Marbach' extensionName='dla_opac_ng'/></a>
												</li>
											
										
									</ul>
								</div>

							
								<div class="column">
									<ul>
										<li class="label">
											<span><f:translate key='Häufig besuchte Seiten' extensionName='dla_opac_ng'/></span>
										</li>
										
											
												<li><a href="https://www.dla-marbach.de/service/anreise/" title=""><f:translate key='Anreise' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/unterkunft-im-collegienhaus/" title=""><f:translate key='Collegienhaus' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/ueber-uns/stellenangebote/?no_cache=1" title=""><f:translate key='Stellenangebote' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/oeffnungszeiten/" title=""><f:translate key='Öffnungszeiten' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/preise-museumsfuehrungen-und-workshops/" title=""><f:translate key='Führungen' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/bildung/angebote-fuer-schulen/" title=""><f:translate key='Schule und Lehrer' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/presse/neuerwerbungen-des-dla/" title=""><f:translate key='Neuerwerbungen' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/service/raumvermietung/" title=""><f:translate key='Raumvermietung' extensionName='dla_opac_ng'/></a>
												</li>
											
												<li><a href="https://www.dla-marbach.de/newsletter/" title=""><f:translate key='Newsletter' extensionName='dla_opac_ng'/></a>
												</li>


									</ul>
								</div>



					</div>
				</nav>
			</footer>
			
			<footer class="copy-footer small-12 column">
				© 2018 <f:translate key='Deutsches Literaturarchiv Marbach' extensionName='dla_opac_ng'/> –
				<a href="https://www.dla-marbach.de/impressum/">
					<f:translate key='Impressum' extensionName='dla_opac_ng'/>
				</a> -
                <a href="https://www.dla-marbach.de/datenschutzerklaerung/">
                    <f:translate key='Datenschutzerklärung' extensionName='dla_opac_ng'/>
                </a>
			</footer>

		</div>

		<a class="exit-off-canvas"></a>
	</div> <!-- .page-wrapper -->
</div> <!-- .off-canvas-wrap -->