{namespace s=Subugoe\Find\ViewHelpers}

<f:switch expression="{listview_type.0}">
    <f:case value="Audio">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-tone" style="z-index:5;" title="Audio"></span>
            </f:then>
            <f:else>
                <span class="icon bel-ton" style="z-index:5;" title="Audio"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-note" style="margin-left: 4px; margin-top: -33px;color:#c1c1c1;z-index:0;" title="Audio"></span>
        </f:if>
    </f:case>
    <f:case value="Video">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-pce" style="z-index:5;" title="Video"></span>
            </f:then>
            <f:else>
                <span class="icon bel-pcfilm" style="z-index:5;" title="Video"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-note" style="margin-left: 4px; margin-top: -33px;color:#c1c1c1;z-index:0;" title="Video"></span>
        </f:if>
    </f:case>
    <f:case value="Bilder und Objekte">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-pcbild" style="z-index:5;" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"></span>
            </f:then>
            <f:else>
                <span class="icon bel-foto" style="z-index:5;" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <f:if condition="{filter_digital}=='true'">
                <f:then>
                    <span class="icon bel-pcbild" style="margin-left: 4px; margin-top: -36px;color:#c1c1c1;z-index:0;" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"></span>
                </f:then>
                <f:else>
                    <span class="icon bel-foto" style="margin-left: 4px; margin-top: -36px;color:#c1c1c1;z-index:0;" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"></span>
                </f:else>
            </f:if>

        </f:if>
    </f:case>
    <f:case value="Daten">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-datene" style="z-index:5;" title="Daten"></span>
            </f:then>
            <f:else>
                <span class="icon bel-daten" style="z-index:5;" title="Daten"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-daten" style="margin-left: 4px; margin-top: -36px;color:#c1c1c1;z-index:0;" title="Daten"></span>
        </f:if>
    </f:case>
    <f:case value="Gedrucktes">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-mage" style="z-index:5;" title="<f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>"></span>
            </f:then>
            <f:else>
                <span class="icon bel-mag" style="z-index:5;" title="<f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-mag" style="margin-left: 4px; margin-top: -34px; color:#c1c1c1;z-index:0;" title="<f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>"></span>
        </f:if>
    </f:case>
    <f:case value="Handschriften">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-schreibene" style="z-index:5;" title="<f:translate key='Handschriften' extensionName='dla_opac_ng'/>"></span>
            </f:then>
            <f:else>
                <span class="icon bel-schreiben" style="z-index:5;" title="<f:translate key='Handschriften' extensionName='dla_opac_ng'/>"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-schreiben" style="margin-left: 7px; margin-top: -33px;color:#c1c1c1;z-index:0;" title="<f:translate key='Handschriften' extensionName='dla_opac_ng'/>"></span>
        </f:if>
    </f:case>
    <f:case value="Normdaten">
        <f:if condition="{filter_digital}=='true'">
            <f:then>
                <span class="icon bel-idkarte" style="z-index:5;" title="Normdaten"></span>
            </f:then>
            <f:else>
                <span class="icon bel-idkarte" style="z-index:5;" title="Normdaten"></span>
            </f:else>
        </f:if>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-papier" style="margin-left: 4px; margin-top: -36px;color:#c1c1c1;z-index:0;" title="Normdaten"></span>
        </f:if>
    </f:case>
    <f:case default="TRUE">
        <span class="icon bel-leer" title="Sonstiges"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-unbek" style="margin-left: 4px; margin-top: -36px;color:#c1c1c1;z-index:0;" title="Sonstiges"></span>
        </f:if>
    </f:case>
</f:switch>
