{namespace s=Subugoe\Find\ViewHelpers}

<f:switch expression="{listview_type.0}">
    <f:case value="Audio">
        <span class="icon bel-ton" title="Audio"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-ton" style="margin-left: 4px; margin-top: -37px;" title="Audio"></span>
        </f:if>
    </f:case>
    <f:case value="Video">
        <span class="icon bel-ton" title="Video"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-ton" style="margin-left: 4px; margin-top: -37px;" title="Video"></span>
        </f:if>
    </f:case>
    <f:case value="Bilder und Objekte">
        <span class="icon bel-foto" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-foto" style="margin-left: 4px; margin-top: -40px;" title="<f:translate key='Bilder &amp; Objekte' extensionName='dla_opac_ng'/>"></span>
        </f:if>
    </f:case>
    <f:case value="Daten">
        <span class="icon bel-daten" title="Daten"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-daten" style="margin-left: 4px; margin-top: -40px;" title="Daten"></span>
        </f:if>
    </f:case>
    <f:case value="Gedrucktes">
        <span class="icon bel-mag" title="<f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-mag" style="margin-left: 4px; margin-top: -38px;" title="<f:translate key='Gedrucktes' extensionName='dla_opac_ng'/>"></span>
        </f:if>
    </f:case>
    <f:case value="Handschriften">
        <span class="icon bel-schreiben" title="<f:translate key='Handschriften' extensionName='dla_opac_ng'/>"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-schreiben" style="margin-left: 7px; margin-top: -37px;" title="<f:translate key='Handschriften' extensionName='dla_opac_ng'/>"></span>
        </f:if>
    </f:case>
    <f:case value="Normdaten">
        <span class="icon bel-papier" title="Normdaten"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-papier" style="margin-left: 4px; margin-top: -40px;" title="Normdaten"></span>
        </f:if>
    </f:case>
    <f:case default="TRUE">
        <span class="icon bel-leer" title="Sonstiges"></span>
        <f:if condition="{listview_type_cardinality} == 'N'">
            <span class="icon bel-unbek" style="margin-left: 4px; margin-top: -40px;" title="Sonstiges"></span>
        </f:if>
    </f:case>
</f:switch>
