<div class="ctg-dtvt-row">
    <div class="ctg-dtvt-content">

        <f:switch expression="{document.fields.source}">
            <f:case value="BI">
                <v:variable.set value="bi" name="opac_db" />
                <v:variable.set value="{v:format.substring(content: '{document.fields.id}', start: 2)}" name="opac_id" />
            </f:case>
            <f:case value="AK">
                <v:variable.set value="ak" name="opac_db" />
                <v:variable.set value="{v:format.substring(content: '{document.fields.id}', start: 2)}" name="opac_id" />
            </f:case>
            <f:case value="BF">
                <v:variable.set value="bf" name="opac_db" />
                <v:variable.set value="{v:format.substring(content: '{document.fields.id}', start: 2)}" name="opac_id" />
            </f:case>
            <f:case value="HS">
                <v:variable.set value="hs" name="opac_db" />
                <v:variable.set value="{v:format.substring(content: '{document.fields.id}', start: 2)}" name="opac_id" />
            </f:case>
            <f:case value="PE">
                <v:variable.set value="pe" name="opac_db" />
                <v:variable.set value="{v:format.substring(content: '{document.fields.id}', start: 2)}" name="opac_id" />
            </f:case>
            <f:case value="KS">
                <v:variable.set value="ks" name="opac_db" />
                <v:variable.set value="{v:format.substring(content: '{document.fields.id}', start: 2)}" name="opac_id" />
            </f:case>
        </f:switch>

        <a href="http://www.dla-marbach.de/index.php?id=448&ADISDB={document.fields.source}&WEB=JA&ADISOI={opac_id}">
            <f:translate key="Sammeln und Sammelbestellungen über den alten Katalog aufgeben" extensionName="dla_opac_ng" />
        </a>
    </div>
</div>
